// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as Shared from './shared';
import { APIPromise } from '../core/api-promise';
import { CursorPage, type CursorPageParams, PagePromise } from '../core/pagination';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class AppBuilds extends APIResource {
  /**
   * Upload a new build artifact for an app. The build must include a compiled code
   * bundle for the specified platform.
   *
   * Required permissions:
   *
   * - `developer:manage_builds`
   *
   * @example
   * ```ts
   * const appBuild = await client.appBuilds.create({
   *   attachment: { id: 'id' },
   *   checksum: 'checksum',
   *   platform: 'ios',
   * });
   * ```
   */
  create(body: AppBuildCreateParams, options?: RequestOptions): APIPromise<Shared.AppBuild> {
    return this._client.post('/app_builds', { body, ...options });
  }

  /**
   * Retrieves the details of an existing app build.
   *
   * Required permissions:
   *
   * - `developer:manage_builds`
   *
   * @example
   * ```ts
   * const appBuild = await client.appBuilds.retrieve(
   *   'apbu_xxxxxxxxxxxxx',
   * );
   * ```
   */
  retrieve(id: string, options?: RequestOptions): APIPromise<Shared.AppBuild> {
    return this._client.get(path`/app_builds/${id}`, options);
  }

  /**
   * Returns a paginated list of build artifacts for a given app, with optional
   * filtering by platform, status, and creation date.
   *
   * Required permissions:
   *
   * - `developer:manage_builds`
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const appBuildListResponse of client.appBuilds.list(
   *   { app_id: 'app_xxxxxxxxxxxxxx' },
   * )) {
   *   // ...
   * }
   * ```
   */
  list(
    query: AppBuildListParams,
    options?: RequestOptions,
  ): PagePromise<AppBuildListResponsesCursorPage, AppBuildListResponse> {
    return this._client.getAPIList('/app_builds', CursorPage<AppBuildListResponse>, { query, ...options });
  }

  /**
   * Promote an approved or draft app build to production so it becomes the active
   * version served to users.
   *
   * Required permissions:
   *
   * - `developer:manage_builds`
   *
   * @example
   * ```ts
   * const appBuild = await client.appBuilds.promote(
   *   'apbu_xxxxxxxxxxxxx',
   * );
   * ```
   */
  promote(id: string, options?: RequestOptions): APIPromise<Shared.AppBuild> {
    return this._client.post(path`/app_builds/${id}/promote`, options);
  }
}

export type AppBuildListResponsesCursorPage = CursorPage<AppBuildListResponse>;

/**
 * A versioned build artifact for a Whop React Native App, submitted for review and
 * deployment to a specific platform.
 */
export interface AppBuildListResponse {
  /**
   * The unique identifier for the app build.
   */
  id: string;

  /**
   * A SHA-256 hash of the uploaded build file, generated by the client and used to
   * verify file integrity.
   */
  checksum: string;

  /**
   * The datetime the app build was created.
   */
  created_at: string;

  /**
   * A URL to download the app build as a .zip archive.
   */
  file_url: string;

  /**
   * Whether this build is the currently active production build for its platform.
   */
  is_production: boolean;

  /**
   * The target platform for this build.
   */
  platform: Shared.AppBuildPlatforms;

  /**
   * Feedback from the reviewer explaining why the build was rejected. Null if the
   * build has not been reviewed or was approved.
   */
  review_message: string | null;

  /**
   * The current review status of this build.
   */
  status: Shared.AppBuildStatuses;

  /**
   * The list of view types this build supports, as declared by the developer.
   */
  supported_app_view_types: Array<Shared.AppViewType>;
}

export interface AppBuildCreateParams {
  /**
   * The build file to upload. For iOS and Android, this should be a .zip archive
   * containing a main_js_bundle.hbc file and an optional assets folder. For web,
   * this should be a JavaScript file.
   */
  attachment: AppBuildCreateParams.Attachment;

  /**
   * A client-generated checksum of the build file, used to verify file integrity
   * when unpacked on a device.
   */
  checksum: string;

  /**
   * The target platform for the build. Accepted values: ios, android, web.
   */
  platform: Shared.AppBuildPlatforms;

  /**
   * The identifier of the AI prompt that generated this build, if applicable.
   */
  ai_prompt_id?: string | null;

  /**
   * The unique identifier of the app to create the build for. Defaults to the app
   * associated with the current API key.
   */
  app_id?: string | null;

  /**
   * The view types this build supports. A build can support multiple view types but
   * should only list the ones its code implements.
   */
  supported_app_view_types?: Array<Shared.AppViewType> | null;
}

export namespace AppBuildCreateParams {
  /**
   * The build file to upload. For iOS and Android, this should be a .zip archive
   * containing a main_js_bundle.hbc file and an optional assets folder. For web,
   * this should be a JavaScript file.
   */
  export interface Attachment {
    /**
     * The ID of an existing file object.
     */
    id: string;
  }
}

export interface AppBuildListParams extends CursorPageParams {
  /**
   * The unique identifier of the app to list builds for.
   */
  app_id: string;

  /**
   * Returns the elements in the list that come before the specified cursor.
   */
  before?: string | null;

  /**
   * Only return builds created after this timestamp.
   */
  created_after?: string | null;

  /**
   * Only return builds created before this timestamp.
   */
  created_before?: string | null;

  /**
   * Returns the first _n_ elements from the list.
   */
  first?: number | null;

  /**
   * Returns the last _n_ elements from the list.
   */
  last?: number | null;

  /**
   * The different platforms an app build can target.
   */
  platform?: Shared.AppBuildPlatforms | null;

  /**
   * The different statuses an AppBuild can be in.
   */
  status?: Shared.AppBuildStatuses | null;
}

export declare namespace AppBuilds {
  export {
    type AppBuildListResponse as AppBuildListResponse,
    type AppBuildListResponsesCursorPage as AppBuildListResponsesCursorPage,
    type AppBuildCreateParams as AppBuildCreateParams,
    type AppBuildListParams as AppBuildListParams,
  };
}
