// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as DisputesAPI from './disputes';
import * as PaymentsAPI from './payments';
import * as PayoutAccountsAPI from './payout-accounts';
import * as RefundsAPI from './refunds';
import * as SetupIntentsAPI from './setup-intents';
import * as Shared from './shared';
import * as VerificationsAPI from './verifications';
import { Webhook as Webhook_ } from 'standardwebhooks';
import { APIPromise } from '../core/api-promise';
import { CursorPage, type CursorPageParams, PagePromise } from '../core/pagination';
import { buildHeaders } from '../internal/headers';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class Webhooks extends APIResource {
  /**
   * Creates a webhook endpoint that receives event notifications via HTTP POST.
   *
   * @example
   * ```ts
   * const webhook = await client.webhooks.create({
   *   url: 'https://example.com/hooks',
   * });
   * ```
   */
  create(params: WebhookCreateParams, options?: RequestOptions): APIPromise<Webhook> {
    const { 'Api-Version-Date': apiVersionDate, 'Idempotency-Key': idempotencyKey, ...body } = params;
    return this._client.post('/webhooks', {
      body,
      ...options,
      headers: buildHeaders([
        {
          ...(apiVersionDate != null ? { 'Api-Version-Date': apiVersionDate } : undefined),
          ...(idempotencyKey != null ? { 'Idempotency-Key': idempotencyKey } : undefined),
        },
        options?.headers,
      ]),
    });
  }

  /**
   * Retrieves the details of an existing webhook.
   *
   * @example
   * ```ts
   * const webhook = await client.webhooks.retrieve('id');
   * ```
   */
  retrieve(
    id: string,
    params: WebhookRetrieveParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<Webhook> {
    const { 'Api-Version-Date': apiVersionDate } = params ?? {};
    return this._client.get(path`/webhooks/${id}`, {
      ...options,
      headers: buildHeaders([
        { ...(apiVersionDate != null ? { 'Api-Version-Date': apiVersionDate } : undefined) },
        options?.headers,
      ]),
    });
  }

  /**
   * Updates a webhook endpoint's URL, subscribed events, pinned payload version, or
   * enabled state.
   *
   * @example
   * ```ts
   * const webhook = await client.webhooks.update('id');
   * ```
   */
  update(id: string, params: WebhookUpdateParams, options?: RequestOptions): APIPromise<Webhook> {
    const { 'Api-Version-Date': apiVersionDate, ...body } = params;
    return this._client.patch(path`/webhooks/${id}`, {
      body,
      ...options,
      headers: buildHeaders([
        { ...(apiVersionDate != null ? { 'Api-Version-Date': apiVersionDate } : undefined) },
        options?.headers,
      ]),
    });
  }

  /**
   * Returns a paginated list of webhook endpoints configured for an account, ordered
   * by most recently created.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const webhookListResponse of client.webhooks.list(
   *   { account_id: 'account_id' },
   * )) {
   *   // ...
   * }
   * ```
   */
  list(
    params: WebhookListParams,
    options?: RequestOptions,
  ): PagePromise<WebhookListResponsesCursorPage, WebhookListResponse> {
    const { 'Api-Version-Date': apiVersionDate, ...query } = params;
    return this._client.getAPIList('/webhooks', CursorPage<WebhookListResponse>, {
      query,
      ...options,
      headers: buildHeaders([
        { ...(apiVersionDate != null ? { 'Api-Version-Date': apiVersionDate } : undefined) },
        options?.headers,
      ]),
    });
  }

  /**
   * Permanently deletes a webhook endpoint. Returns `true` on success, matching the
   * legacy proxy response.
   *
   * @example
   * ```ts
   * const webhook = await client.webhooks.delete('id');
   * ```
   */
  delete(
    id: string,
    params: WebhookDeleteParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<WebhookDeleteResponse> {
    const { 'Api-Version-Date': apiVersionDate } = params ?? {};
    return this._client.delete(path`/webhooks/${id}`, {
      ...options,
      headers: buildHeaders([
        { ...(apiVersionDate != null ? { 'Api-Version-Date': apiVersionDate } : undefined) },
        options?.headers,
      ]),
    });
  }

  unwrap(
    body: string,
    { headers, key }: { headers: Record<string, string>; key?: string },
  ): UnwrapWebhookEvent {
    if (headers !== undefined) {
      const keyStr: string | null = key === undefined ? this._client.webhookKey : key;
      if (keyStr === null) throw new Error('Webhook key must not be null in order to unwrap');
      const wh = new Webhook_(keyStr);
      wh.verify(body, headers);
    }
    return JSON.parse(body) as UnwrapWebhookEvent;
  }
}

export type WebhookListResponsesCursorPage = CursorPage<WebhookListResponse>;

/**
 * The different API versions
 */
export type APIVersion = 'v1' | 'v2' | 'v5';

export interface Webhook {
  /**
   * Webhook ID, prefixed `hook_`.
   */
  id: string;

  /**
   * The API version used to format payloads sent to this webhook endpoint.
   */
  api_version: 'v1' | 'v2' | 'v5';

  /**
   * The dated API version (Api-Version-Date) that v1 payloads for this endpoint are
   * pinned to: events serialize exactly like a REST read at this version (the native
   * serializer where the resource has one). Null when unpinned — legacy (v2/v5)
   * webhooks, and v1 webhooks on the legacy payload shape.
   */
  api_version_date: string | null;

  /**
   * Whether events are sent for child resources. For example, if the webhook is on
   * an account, enabling this sends events only from its connected accounts.
   */
  child_resource_events: boolean;

  /**
   * Number of consecutive deliveries whose first attempt to this endpoint failed
   * since it last accepted one. Later retries of the same delivery do not increment
   * it. Resets to `0` when a delivery succeeds or the webhook is re-enabled.
   */
  consecutive_failures: number;

  /**
   * When the webhook was created, as an ISO 8601 timestamp.
   */
  created_at: string;

  /**
   * When Whop automatically disabled this webhook, as an ISO 8601 timestamp. `null`
   * unless the webhook was disabled by Whop; a webhook you disabled yourself has
   * `enabled: false` and a `null` `disabled_at`.
   */
  disabled_at: string | null;

  /**
   * Why Whop disabled this webhook. `delivery_failures` means every delivery failed
   * for 3 days straight. `null` when `disabled_at` is `null`.
   */
  disabled_reason: 'delivery_failures' | null;

  /**
   * Whether this webhook endpoint is currently active and receiving events.
   */
  enabled: boolean;

  events: Array<
    | 'account.updated'
    | 'account.financing_approved'
    | 'account.financing_denied'
    | 'invoice.created'
    | 'invoice.marked_uncollectible'
    | 'invoice.paid'
    | 'invoice.past_due'
    | 'invoice.voided'
    | 'membership.activated'
    | 'membership.deactivated'
    | 'membership.trial_ending_soon'
    | 'entry.created'
    | 'entry.approved'
    | 'entry.denied'
    | 'entry.deleted'
    | 'export.completed'
    | 'export.failed'
    | 'setup_intent.requires_action'
    | 'setup_intent.succeeded'
    | 'setup_intent.canceled'
    | 'ledger_account.funds_available'
    | 'swap.completed'
    | 'deposit.succeeded'
    | 'transfer.created'
    | 'transfer.completed'
    | 'transfer.failed'
    | 'withdrawal.created'
    | 'withdrawal.updated'
    | 'withdrawal.reversed'
    | 'payout.created'
    | 'payout.updated'
    | 'payout.reversed'
    | 'card_transaction.created'
    | 'card_transaction.updated'
    | 'card_transaction.completed'
    | 'card_transaction.declined'
    | 'card_transaction.reversed'
    | 'card.created'
    | 'card.updated'
    | 'card.frozen'
    | 'card.canceled'
    | 'card_application.created'
    | 'card_application.updated'
    | 'card_application.approved'
    | 'card_application.denied'
    | 'course_lesson_interaction.completed'
    | 'payout_method.created'
    | 'verification.succeeded'
    | 'identity_profile.approved'
    | 'identity_profile.rejected'
    | 'identity_profile.needs_action'
    | 'identity_profile.updated'
    | 'payout_account.status_updated'
    | 'payment.authorized'
    | 'payment.canceled'
    | 'resolution_center_case.created'
    | 'resolution_center_case.updated'
    | 'resolution_center_case.decided'
    | 'product.created'
    | 'product.updated'
    | 'product.deleted'
    | 'product.published'
    | 'product.unpublished'
    | 'plan.created'
    | 'plan.updated'
    | 'plan.deleted'
    | 'shipment.created'
    | 'shipment.updated'
    | 'member.created'
    | 'member.updated'
    | 'ad_campaign.payment_failed'
    | 'ad_campaign.updated'
    | 'ad.updated'
    | 'chat.message.created'
    | 'chat.reaction.created'
    | 'payment.created'
    | 'payment.succeeded'
    | 'payment.failed'
    | 'payment.pending'
    | 'dispute.created'
    | 'dispute.updated'
    | 'refund.created'
    | 'refund.updated'
    | 'dispute_alert.created'
    | 'membership.cancel_at_period_end_changed'
    | 'membership.went_valid'
    | 'membership.went_invalid'
    | 'membership.metadata_updated'
    | 'resolution.created'
    | 'resolution.updated'
    | 'resolution.decided'
    | 'payment.affiliate_reward_created'
    | 'membership.experience_claimed'
    | 'app_membership.went_valid'
    | 'app_membership.went_invalid'
    | 'app_payment.created'
    | 'app_payment.succeeded'
    | 'app_payment.failed'
    | 'app_payment.pending'
    | 'app_membership.cancel_at_period_end_changed'
  >;

  /**
   * When the current failure streak began, as an ISO 8601 timestamp. Unlike
   * `last_failure_at`, this is set on the streak's first failed attempt, so it shows
   * an endpoint that is failing right now. `null` when the endpoint is healthy.
   */
  failing_since: string | null;

  /**
   * When a delivery to this endpoint most recently failed after exhausting retries,
   * as an ISO 8601 timestamp. `null` if no delivery has ever failed.
   */
  last_failure_at: string | null;

  /**
   * ID of the resource (account or app) this webhook is attached to.
   */
  resource_id: string;

  testable_events: Array<
    | 'account.updated'
    | 'account.financing_approved'
    | 'account.financing_denied'
    | 'invoice.created'
    | 'invoice.marked_uncollectible'
    | 'invoice.paid'
    | 'invoice.past_due'
    | 'invoice.voided'
    | 'membership.activated'
    | 'membership.deactivated'
    | 'membership.trial_ending_soon'
    | 'entry.created'
    | 'entry.approved'
    | 'entry.denied'
    | 'entry.deleted'
    | 'export.completed'
    | 'export.failed'
    | 'setup_intent.requires_action'
    | 'setup_intent.succeeded'
    | 'setup_intent.canceled'
    | 'ledger_account.funds_available'
    | 'swap.completed'
    | 'deposit.succeeded'
    | 'transfer.created'
    | 'transfer.completed'
    | 'transfer.failed'
    | 'withdrawal.created'
    | 'withdrawal.updated'
    | 'withdrawal.reversed'
    | 'payout.created'
    | 'payout.updated'
    | 'payout.reversed'
    | 'card_transaction.created'
    | 'card_transaction.updated'
    | 'card_transaction.completed'
    | 'card_transaction.declined'
    | 'card_transaction.reversed'
    | 'card.created'
    | 'card.updated'
    | 'card.frozen'
    | 'card.canceled'
    | 'card_application.created'
    | 'card_application.updated'
    | 'card_application.approved'
    | 'card_application.denied'
    | 'course_lesson_interaction.completed'
    | 'payout_method.created'
    | 'verification.succeeded'
    | 'identity_profile.approved'
    | 'identity_profile.rejected'
    | 'identity_profile.needs_action'
    | 'identity_profile.updated'
    | 'payout_account.status_updated'
    | 'payment.authorized'
    | 'payment.canceled'
    | 'resolution_center_case.created'
    | 'resolution_center_case.updated'
    | 'resolution_center_case.decided'
    | 'product.created'
    | 'product.updated'
    | 'product.deleted'
    | 'product.published'
    | 'product.unpublished'
    | 'plan.created'
    | 'plan.updated'
    | 'plan.deleted'
    | 'shipment.created'
    | 'shipment.updated'
    | 'member.created'
    | 'member.updated'
    | 'ad_campaign.payment_failed'
    | 'ad_campaign.updated'
    | 'ad.updated'
    | 'chat.message.created'
    | 'chat.reaction.created'
    | 'payment.created'
    | 'payment.succeeded'
    | 'payment.failed'
    | 'payment.pending'
    | 'dispute.created'
    | 'dispute.updated'
    | 'refund.created'
    | 'refund.updated'
    | 'dispute_alert.created'
    | 'membership.cancel_at_period_end_changed'
    | 'membership.went_valid'
    | 'membership.went_invalid'
    | 'membership.metadata_updated'
    | 'resolution.created'
    | 'resolution.updated'
    | 'resolution.decided'
    | 'payment.affiliate_reward_created'
    | 'membership.experience_claimed'
    | 'app_membership.went_valid'
    | 'app_membership.went_invalid'
    | 'app_payment.created'
    | 'app_payment.succeeded'
    | 'app_payment.failed'
    | 'app_payment.pending'
    | 'app_membership.cancel_at_period_end_changed'
  >;

  /**
   * Destination URL where webhook payloads are delivered via HTTP POST.
   */
  url: string;

  /**
   * Secret key used to sign webhook payloads for verification. Include this in your
   * HMAC validation logic. Returned on the create response and to interactive
   * dashboard sessions; `null` for API-key and OAuth callers on later reads.
   */
  webhook_secret: string | null;
}

/**
 * The different event types available
 */
export type WebhookEvent =
  | 'account.updated'
  | 'account.financing_approved'
  | 'account.financing_denied'
  | 'invoice.created'
  | 'invoice.marked_uncollectible'
  | 'invoice.paid'
  | 'invoice.past_due'
  | 'invoice.voided'
  | 'membership.activated'
  | 'membership.deactivated'
  | 'membership.trial_ending_soon'
  | 'entry.created'
  | 'entry.approved'
  | 'entry.denied'
  | 'entry.deleted'
  | 'export.completed'
  | 'export.failed'
  | 'setup_intent.requires_action'
  | 'setup_intent.succeeded'
  | 'setup_intent.canceled'
  | 'ledger_account.funds_available'
  | 'swap.completed'
  | 'deposit.succeeded'
  | 'transfer.created'
  | 'transfer.completed'
  | 'transfer.failed'
  | 'withdrawal.created'
  | 'withdrawal.updated'
  | 'withdrawal.reversed'
  | 'payout.created'
  | 'payout.updated'
  | 'payout.reversed'
  | 'card_transaction.created'
  | 'card_transaction.updated'
  | 'card_transaction.completed'
  | 'card_transaction.declined'
  | 'card_transaction.reversed'
  | 'card.created'
  | 'card.updated'
  | 'card.frozen'
  | 'card.canceled'
  | 'card_application.created'
  | 'card_application.updated'
  | 'card_application.approved'
  | 'card_application.denied'
  | 'course_lesson_interaction.completed'
  | 'payout_method.created'
  | 'verification.succeeded'
  | 'identity_profile.approved'
  | 'identity_profile.rejected'
  | 'identity_profile.needs_action'
  | 'identity_profile.updated'
  | 'payout_account.status_updated'
  | 'payment.authorized'
  | 'payment.canceled'
  | 'resolution_center_case.created'
  | 'resolution_center_case.updated'
  | 'resolution_center_case.decided'
  | 'product.created'
  | 'product.updated'
  | 'product.deleted'
  | 'product.published'
  | 'product.unpublished'
  | 'plan.created'
  | 'plan.updated'
  | 'plan.deleted'
  | 'shipment.created'
  | 'shipment.updated'
  | 'member.created'
  | 'member.updated'
  | 'ad_campaign.payment_failed'
  | 'ad_campaign.updated'
  | 'ad.updated'
  | 'chat.message.created'
  | 'chat.reaction.created'
  | 'payment.created'
  | 'payment.succeeded'
  | 'payment.failed'
  | 'payment.pending'
  | 'dispute.created'
  | 'dispute.updated'
  | 'refund.created'
  | 'refund.updated'
  | 'dispute_alert.created'
  | 'membership.cancel_at_period_end_changed';

export interface WebhookListResponse {
  /**
   * Webhook ID, prefixed `hook_`.
   */
  id: string;

  /**
   * The API version used to format payloads sent to this webhook endpoint.
   */
  api_version: 'v1' | 'v2' | 'v5';

  /**
   * The dated API version (Api-Version-Date) that v1 payloads for this endpoint are
   * pinned to: events serialize exactly like a REST read at this version (the native
   * serializer where the resource has one). Null when unpinned — legacy (v2/v5)
   * webhooks, and v1 webhooks on the legacy payload shape.
   */
  api_version_date: string | null;

  /**
   * Whether events are sent for child resources. For example, if the webhook is on
   * an account, enabling this sends events only from its connected accounts.
   */
  child_resource_events: boolean;

  /**
   * Number of consecutive deliveries whose first attempt to this endpoint failed
   * since it last accepted one. Later retries of the same delivery do not increment
   * it. Resets to `0` when a delivery succeeds or the webhook is re-enabled.
   */
  consecutive_failures: number;

  /**
   * When the webhook was created, as an ISO 8601 timestamp.
   */
  created_at: string;

  /**
   * When Whop automatically disabled this webhook, as an ISO 8601 timestamp. `null`
   * unless the webhook was disabled by Whop; a webhook you disabled yourself has
   * `enabled: false` and a `null` `disabled_at`.
   */
  disabled_at: string | null;

  /**
   * Why Whop disabled this webhook. `delivery_failures` means every delivery failed
   * for 3 days straight. `null` when `disabled_at` is `null`.
   */
  disabled_reason: 'delivery_failures' | null;

  /**
   * Whether this webhook endpoint is currently active and receiving events.
   */
  enabled: boolean;

  events: Array<
    | 'account.updated'
    | 'account.financing_approved'
    | 'account.financing_denied'
    | 'invoice.created'
    | 'invoice.marked_uncollectible'
    | 'invoice.paid'
    | 'invoice.past_due'
    | 'invoice.voided'
    | 'membership.activated'
    | 'membership.deactivated'
    | 'membership.trial_ending_soon'
    | 'entry.created'
    | 'entry.approved'
    | 'entry.denied'
    | 'entry.deleted'
    | 'export.completed'
    | 'export.failed'
    | 'setup_intent.requires_action'
    | 'setup_intent.succeeded'
    | 'setup_intent.canceled'
    | 'ledger_account.funds_available'
    | 'swap.completed'
    | 'deposit.succeeded'
    | 'transfer.created'
    | 'transfer.completed'
    | 'transfer.failed'
    | 'withdrawal.created'
    | 'withdrawal.updated'
    | 'withdrawal.reversed'
    | 'payout.created'
    | 'payout.updated'
    | 'payout.reversed'
    | 'card_transaction.created'
    | 'card_transaction.updated'
    | 'card_transaction.completed'
    | 'card_transaction.declined'
    | 'card_transaction.reversed'
    | 'card.created'
    | 'card.updated'
    | 'card.frozen'
    | 'card.canceled'
    | 'card_application.created'
    | 'card_application.updated'
    | 'card_application.approved'
    | 'card_application.denied'
    | 'course_lesson_interaction.completed'
    | 'payout_method.created'
    | 'verification.succeeded'
    | 'identity_profile.approved'
    | 'identity_profile.rejected'
    | 'identity_profile.needs_action'
    | 'identity_profile.updated'
    | 'payout_account.status_updated'
    | 'payment.authorized'
    | 'payment.canceled'
    | 'resolution_center_case.created'
    | 'resolution_center_case.updated'
    | 'resolution_center_case.decided'
    | 'product.created'
    | 'product.updated'
    | 'product.deleted'
    | 'product.published'
    | 'product.unpublished'
    | 'plan.created'
    | 'plan.updated'
    | 'plan.deleted'
    | 'shipment.created'
    | 'shipment.updated'
    | 'member.created'
    | 'member.updated'
    | 'ad_campaign.payment_failed'
    | 'ad_campaign.updated'
    | 'ad.updated'
    | 'chat.message.created'
    | 'chat.reaction.created'
    | 'payment.created'
    | 'payment.succeeded'
    | 'payment.failed'
    | 'payment.pending'
    | 'dispute.created'
    | 'dispute.updated'
    | 'refund.created'
    | 'refund.updated'
    | 'dispute_alert.created'
    | 'membership.cancel_at_period_end_changed'
    | 'membership.went_valid'
    | 'membership.went_invalid'
    | 'membership.metadata_updated'
    | 'resolution.created'
    | 'resolution.updated'
    | 'resolution.decided'
    | 'payment.affiliate_reward_created'
    | 'membership.experience_claimed'
    | 'app_membership.went_valid'
    | 'app_membership.went_invalid'
    | 'app_payment.created'
    | 'app_payment.succeeded'
    | 'app_payment.failed'
    | 'app_payment.pending'
    | 'app_membership.cancel_at_period_end_changed'
  >;

  /**
   * When the current failure streak began, as an ISO 8601 timestamp. Unlike
   * `last_failure_at`, this is set on the streak's first failed attempt, so it shows
   * an endpoint that is failing right now. `null` when the endpoint is healthy.
   */
  failing_since: string | null;

  /**
   * When a delivery to this endpoint most recently failed after exhausting retries,
   * as an ISO 8601 timestamp. `null` if no delivery has ever failed.
   */
  last_failure_at: string | null;

  /**
   * ID of the resource (account or app) this webhook is attached to.
   */
  resource_id: string;

  /**
   * Destination URL where webhook payloads are delivered via HTTP POST.
   */
  url: string;

  /**
   * Secret key used to sign webhook payloads for verification. Include this in your
   * HMAC validation logic. Returned on the create response and to interactive
   * dashboard sessions; `null` for API-key and OAuth callers on later reads.
   */
  webhook_secret: string | null;
}

export interface WebhookDeleteResponse {
  /**
   * The ID of the deleted resource.
   */
  id: string;

  /**
   * Always `true`: the resource was deleted.
   */
  deleted: boolean;
}

export interface AccountFinancingApprovedWebhookEvent {
  /**
   * A unique ID for every single webhook request
   */
  id: string;

  /**
   * The API version for this webhook
   */
  api_version: 'v1';

  /**
   * The dated API version (Api-Version-Date) the payload is serialized to
   */
  api_version_date: string | null;

  data: AccountFinancingApprovedWebhookEvent.Data;

  /**
   * The timestamp in ISO 8601 format that the webhook was sent at on the server
   */
  timestamp: string;

  /**
   * The webhook event type
   */
  type: 'account.financing_approved';

  /**
   * The account ID that this webhook event is associated with
   */
  account_id?: string | null;

  /**
   * For some `.updated` events, the old values of the payload fields that changed,
   * keyed by field name. Omitted when no capture is available for the event
   */
  previous_attributes?: unknown;
}

export namespace AccountFinancingApprovedWebhookEvent {
  export interface Data {
    /**
     * Account ID, prefixed `biz_`.
     */
    id: string;

    balances: Array<Data.Balance>;

    /**
     * Account banner image URL.
     */
    banner_image_url: string | null;

    /**
     * Account business address used to calculate tax, with `line1`, `line2`, `city`,
     * `state`, `postal_code`, and `country`. `null` when no address is set.
     */
    business_address: unknown | null;

    /**
     * The account's legal business name used with its tax address.
     */
    business_name: string | null;

    /**
     * High-level business category for the account. See the
     * [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary)
     * for valid values.
     */
    business_type: string | null;

    /**
     * Whether pending funds may be transferred from this platform account to its
     * connected accounts.
     */
    can_transfer_pending_balance_to_children: boolean;

    /**
     * Payment rails enabled for this account, each `active`, `inactive`, or `pending`
     * (onboarding or review in progress). Computed only on `retrieve` and `me` for
     * callers with `company:balance:read` scope; `null` otherwise.
     */
    capabilities: Data.Capabilities | null;

    /**
     * Whop Cards application details for the account. Computed only on `retrieve` and
     * `me` for callers with `company:balance:read` scope; `null` otherwise, or when
     * the account has no card application.
     */
    cards: Data.Cards | null;

    /**
     * Whether checkout shows a VAT/tax ID field for buyers to optionally enter. Does
     * not require a VAT ID to purchase.
     */
    collect_vat_id: boolean;

    /**
     * Company formation state for the account, managed through
     * [Form Company](/api-reference/beta/accounts/form-company). A `draft` `status`
     * until the formation checkout is paid, then filing progress with downloadable
     * documents and signatures awaiting action. Empty when the formation state is
     * temporarily unavailable.
     */
    company_formation: Data.CompanyFormation;

    /**
     * Country where the account is located.
     */
    country: string | null;

    /**
     * When the account was created, as an ISO 8601 timestamp.
     */
    created_at: string;

    /**
     * Account promotional description.
     */
    description: string | null;

    /**
     * Whether economic intelligence is enabled for the account.
     */
    economic_intelligence: boolean;

    /**
     * Account owner email address.
     */
    email: string | null;

    /**
     * The account's end-user license agreement document, or `null` if they have not
     * published one.
     */
    eula: Data.Eula | null;

    home_preferences: Array<'hide_member_count' | 'hide_members_card'>;

    /**
     * Account industry group. See the
     * [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary)
     * for valid values.
     */
    industry_group: string | null;

    /**
     * Specific industry vertical for the account. See the
     * [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary)
     * for valid values.
     */
    industry_type: string | null;

    /**
     * Prefix used for account invoices.
     */
    invoice_prefix: string | null;

    /**
     * Account logo image URL.
     */
    logo_url: string | null;

    /**
     * Arbitrary key/value metadata supplied at account creation.
     */
    metadata: unknown;

    /**
     * Type of onboarding the account has completed.
     */
    onboarding_type: 'platform' | 'seller' | null;

    /**
     * Account Open Graph image URL.
     */
    opengraph_image_url: string | null;

    /**
     * Account Open Graph image variant.
     */
    opengraph_image_variant: 'white' | 'black' | 'orange' | null;

    /**
     * Business type details when business_type is `other`.
     */
    other_business_description: string | null;

    /**
     * Industry details when industry_type is `other`.
     */
    other_industry_description: string | null;

    /**
     * The single user who owns the account, whose email is the `email` above. Distinct
     * from the `owner` role on team members, which any number of them can hold.
     */
    owner: Data.Owner;

    /**
     * Parent account for connected accounts, or `null` for standalone accounts.
     */
    parent_account: Data.ParentAccount | null;

    /**
     * Payment health controls currently applied to the account. Computed only on
     * `retrieve` and `me` for callers with `company:balance:read` scope; `null`
     * otherwise.
     */
    payment_controls: Data.PaymentControls | null;

    /**
     * The account's privacy policy document, or `null` if they have not published one.
     */
    privacy_policy: Data.PrivacyPolicy | null;

    /**
     * Tax classification code applied by default to the account's products, with `id`,
     * `name`, and `product_type`. `null` when no default is set.
     */
    product_tax_code: unknown | null;

    /**
     * @deprecated DEPRECATED: Use the
     * `GET /economic_intelligence?account_id={account_id}` endpoint instead.
     */
    recommended_actions: Array<Data.RecommendedAction> | null;

    /**
     * Whether authorized users must enable two-factor authentication.
     */
    require_2fa: boolean;

    required_actions: Array<Data.RequiredAction> | null;

    /**
     * The account's return policy document, or `null` if they have not published one.
     */
    return_policy: Data.ReturnPolicy | null;

    /**
     * Account public route identifier.
     */
    route: string;

    /**
     * Whether Whop sends transactional emails to customers on behalf of this account.
     */
    send_customer_emails: boolean;

    /**
     * Whether the account appears in joined whops on other accounts.
     */
    show_joined_whops: boolean;

    /**
     * Whether reviews are displayed on direct-to-consumer product pages.
     */
    show_reviews_dtc: boolean;

    /**
     * Whether the account shows users in the user directory.
     */
    show_user_directory: boolean;

    social_links: Array<Data.SocialLink>;

    /**
     * Whether the account settles on stablecoin rails — its balance is held on-chain
     * as USDT and paid out over crypto, rather than as fiat cash.
     */
    stablecoin_rails: boolean;

    /**
     * Whether the account can operate on Whop: `active` or `suspended`. Computed on
     * `list`, `retrieve`, `me`, and `suspend`; `null` otherwise.
     */
    status: string | null;

    /**
     * Why the account was suspended, in language safe to show the account owner.
     * Computed on `retrieve`, `me`, and `suspend`; `null` otherwise, when `status` is
     * not `suspended`, and when the suspension was recorded without a reason.
     */
    status_reason: string | null;

    /**
     * Account store page display configuration.
     */
    store_page_config: Data.StorePageConfig;

    /**
     * Target audience for this account.
     */
    target_audience: string | null;

    tax_collection_enabled_states: Array<string>;

    tax_identifiers: Array<Data.TaxIdentifier>;

    /**
     * Who calculates and remits tax for the account: `whop` (Whop calculates and
     * remits), `self` (Whop calculates; the account collects and remits), or `none`
     * (neither; the account is responsible). `null` until the account enrolls in the
     * Whop tax service.
     */
    tax_remitted_by: 'whop' | 'self' | 'none' | null;

    /**
     * How tax is applied to the account's prices: `inclusive` (tax included in the
     * listed price) or `exclusive` (tax added on top). Defaults to `exclusive` when
     * unset; `null` only when the account has no payment connection.
     */
    tax_type: 'inclusive' | 'exclusive' | null;

    /**
     * The account's terms of service document, or `null` if they have not published
     * one.
     */
    terms_of_service: Data.TermsOfService | null;

    /**
     * Account-level 3D Secure behavior. `mandate_challenge` requires cardholder
     * verification on supported card payments; `null` uses the standard checkout flow.
     */
    three_ds_level: 'mandate_challenge' | null;

    /**
     * Account display name.
     */
    title: string;

    /**
     * Account lifetime sales, normalized to USD. Computed only on `retrieve` and `me`
     * for callers with `stats:read` scope; `null` otherwise.
     */
    total_earned_usd: number | null;

    /**
     * Total USD value across balances with known exchange rates. Computed only on
     * single-account reads (`retrieve` and `me`); `null` on list responses, writes,
     * missing balance-read permission, or unavailable balance source.
     */
    total_usd: string | null;

    /**
     * Whether the account uses its logo as the fallback Open Graph image.
     */
    use_logo_as_opengraph_image_fallback: boolean;

    /**
     * Account identity verification status for the `individual` (KYC) and `business`
     * (KYB) profiles. Each is `null` until created, otherwise a `status` of
     * `not_started`, `pending`, `manual_review`, `approved`, or `rejected`.
     */
    verification: unknown;

    /**
     * Lifetime volume through the account — sales plus transfers received — normalized
     * to USD. Computed only on `list` for callers with `stats:read` on the account;
     * `null` otherwise.
     */
    volume_usd: number | null;

    /**
     * Account primary crypto wallet, or `null` if none has been provisioned.
     */
    wallet: Data.Wallet | null;
  }

  export namespace Data {
    /**
     * Account holdings, each with USD value. Empty when `total_usd` is `null`.
     */
    export interface Balance {
      /**
       * Total amount held in native units, as a decimal string.
       */
      balance: string;

      /**
       * Balance split into available, pending, and reserve amounts, as native-unit
       * decimal strings, with the days the pending amount is expected to settle.
       * On-chain crypto is entirely available; good_funds and fiat cash can have pending
       * or reserve portions.
       */
      breakdown: Balance.Breakdown;

      /**
       * Holding icon URL.
       */
      icon_url: string | null;

      /**
       * The holding's display name
       */
      name: string;

      /**
       * USD price per unit, or `null` when no exchange rate is available.
       */
      price_usd: number | null;

      /**
       * Holding display symbol, such as `USDT`, `cbBTC`, or `EUR`.
       */
      symbol: string;

      /**
       * Holding USD value, or `null` when no exchange rate is available.
       */
      value_usd: string | null;
    }

    export namespace Balance {
      /**
       * Balance split into available, pending, and reserve amounts, as native-unit
       * decimal strings, with the days the pending amount is expected to settle.
       * On-chain crypto is entirely available; good_funds and fiat cash can have pending
       * or reserve portions.
       */
      export interface Breakdown {
        /**
         * Amount you can spend, send, or withdraw now, in native units, as a decimal
         * string.
         */
        available: string;

        /**
         * Amount moving between the account's own destinations, such as a treasury sweep
         * to its crypto wallet or a card top-up. In native units, as a decimal string.
         */
        in_transit: string;

        /**
         * Amount from recent payments still settling, in native units, as a decimal
         * string.
         */
        pending: string;

        pending_settlements: Array<Breakdown.PendingSettlement>;

        /**
         * Amount held back, in native units, as a decimal string. Retrieve the account's
         * reserves for why it is held and when it unlocks.
         */
        reserve: string;
      }

      export namespace Breakdown {
        /**
         * When the pending amount is expected to settle, one entry per day, earliest
         * first. Money with no scheduled settlement day, such as a transfer in flight, is
         * left out — so these can sum to less than `pending`, never more.
         */
        export interface PendingSettlement {
          /**
           * Amount expected that day, in native units, as a decimal string.
           */
          amount: string;

          /**
           * The day this money is expected to finish settling, as an ISO 8601 date.
           */
          date: string;
        }
      }
    }

    /**
     * Payment rails enabled for this account, each `active`, `inactive`, or `pending`
     * (onboarding or review in progress). Computed only on `retrieve` and `me` for
     * callers with `company:balance:read` scope; `null` otherwise.
     */
    export interface Capabilities {
      /**
       * Bank payins: debits, transfers, and local bank rails
       */
      accept_bank_payments: 'active' | 'inactive' | 'pending';

      /**
       * Buy-now-pay-later payins; requires approval
       */
      accept_bnpl_payments: 'active' | 'inactive' | 'pending';

      /**
       * Card payins, including Apple Pay and Google Pay
       */
      accept_card_payments: 'active' | 'inactive' | 'pending';

      /**
       * Deposits by bank wire or ACH to the account's virtual bank account
       */
      bank_deposit: 'active' | 'inactive' | 'pending';

      /**
       * Balance top-ups by charging a stored payment method
       */
      card_deposit: 'active' | 'inactive' | 'pending';

      /**
       * Issuing Whop cards; requires card application approval
       */
      card_issuing: 'active' | 'inactive' | 'pending';

      /**
       * On-chain deposits to the account's crypto wallet
       */
      crypto_deposit: 'active' | 'inactive' | 'pending';

      /**
       * On-chain payouts to a crypto wallet
       */
      crypto_payout: 'active' | 'inactive' | 'pending';

      /**
       * Instant payouts to an eligible payout destination
       */
      instant_payout: 'active' | 'inactive' | 'pending';

      /**
       * Launching ad campaigns through Whop Ads. `inactive` while a requested ads
       * services agreement is awaiting the account's signature.
       */
      run_ads: 'active' | 'inactive' | 'pending';

      /**
       * Standard payouts to an external payout destination
       */
      standard_payout: 'active' | 'inactive' | 'pending';

      /**
       * Transfers to other accounts
       */
      transfer: 'active' | 'inactive' | 'pending';
    }

    /**
     * Whop Cards application details for the account. Computed only on `retrieve` and
     * `me` for callers with `company:balance:read` scope; `null` otherwise, or when
     * the account has no card application.
     */
    export interface Cards {
      /**
       * Whether the card application verifies a business (`business`, KYB) or a person
       * (`individual`, consumer identity). `null` when the application is not yet linked
       * to a verification.
       */
      kind: 'individual' | 'business' | null;

      /**
       * Where the card application stands. `approved` means cards can be issued.
       * `needs_verification` means the applicant has not completed identity verification
       * yet; `needs_information` means they did, but the documents were rejected for a
       * fixable reason and must be resubmitted. `pending` and `manual_review` are in
       * flight. `denied`, `locked`, and `canceled` are terminal.
       */
      status:
        | 'approved'
        | 'pending'
        | 'manual_review'
        | 'denied'
        | 'locked'
        | 'canceled'
        | 'needs_verification'
        | 'needs_information';
    }

    /**
     * Company formation state for the account, managed through
     * [Form Company](/api-reference/beta/accounts/form-company). A `draft` `status`
     * until the formation checkout is paid, then filing progress with downloadable
     * documents and signatures awaiting action. Empty when the formation state is
     * temporarily unavailable.
     */
    export interface CompanyFormation {
      documents?: Array<CompanyFormation.Document>;

      /**
       * Whether the company's EIN has been issued by the IRS. Present once `status`
       * leaves `draft`.
       */
      ein_registered?: boolean;

      /**
       * Registered company name including the entity ending, for example `Acme, LLC`.
       * Present once `status` leaves `draft`.
       */
      legal_name?: string | null;

      /**
       * IRS forms still awaiting a founder's signature, each with a hosted signing URL.
       * Present once `status` leaves `draft`; empty when nothing needs signing.
       */
      signatures?: CompanyFormation.Signatures;

      /**
       * Whether the state formation filing is complete. Present once `status` leaves
       * `draft`.
       */
      state_registered?: boolean;

      status?: 'draft' | 'processing' | 'filed' | 'rejected' | 'completed';

      [k: string]: unknown;
    }

    export namespace CompanyFormation {
      /**
       * Formation documents available for download, such as the Articles of Organization
       * and the EIN confirmation letter. Present once `status` leaves `draft`.
       */
      export interface Document {
        /**
         * Document ID, prefixed `file_`.
         */
        id: string;

        /**
         * Human-readable document name, such as `Articles of Organization`.
         */
        name: string;

        /**
         * Document category: `articles_of_organization`, `operating_agreement`,
         * `ein_letter`, `signed_ss4`, `signed_form8821`, or `mail` for postal
         * correspondence received on the company's behalf.
         */
        type: string;

        /**
         * CDN URL for downloading the document.
         */
        url: string;
      }

      /**
       * IRS forms still awaiting a founder's signature, each with a hosted signing URL.
       * Present once `status` leaves `draft`; empty when nothing needs signing.
       */
      export interface Signatures {
        /**
         * Signature state for IRS Form 8821, the tax information authorization. Present
         * only while the form still needs the founder's action.
         */
        form8821?: Signatures.Form8821;

        /**
         * Signature state for IRS Form SS-4, the EIN application. Present only while the
         * form still needs the founder's action.
         */
        ss4?: Signatures.Ss4;

        [k: string]: unknown;
      }

      export namespace Signatures {
        /**
         * Signature state for IRS Form 8821, the tax information authorization. Present
         * only while the form still needs the founder's action.
         */
        export interface Form8821 {
          /**
           * `pending` when a signing session is ready for the founder; `unknown` when the
           * signature state could not be determined.
           */
          status: 'pending' | 'unknown';

          /**
           * When the signing URL expires, as an ISO 8601 timestamp. Present while `status`
           * is `pending`.
           */
          expires_at?: string;

          /**
           * Hosted signing URL where the founder completes the form. Present while `status`
           * is `pending`.
           */
          url?: string;
        }

        /**
         * Signature state for IRS Form SS-4, the EIN application. Present only while the
         * form still needs the founder's action.
         */
        export interface Ss4 {
          /**
           * `pending` when a signing session is ready for the founder; `unknown` when the
           * signature state could not be determined.
           */
          status: 'pending' | 'unknown';

          /**
           * When the signing URL expires, as an ISO 8601 timestamp. Present while `status`
           * is `pending`.
           */
          expires_at?: string;

          /**
           * Hosted signing URL where the founder completes the form. Present while `status`
           * is `pending`.
           */
          url?: string;
        }
      }
    }

    /**
     * The account's end-user license agreement document, or `null` if they have not
     * published one.
     */
    export interface Eula {
      /**
       * The file's ID, prefixed `file_`.
       */
      id: string;

      /**
       * The file's MIME type, e.g. `application/pdf`.
       */
      content_type: string | null;

      /**
       * When the file was created, as an ISO 8601 timestamp.
       */
      created_at: string;

      /**
       * The original filename, including its extension.
       */
      filename: string | null;

      /**
       * The type of this object, always `file`.
       */
      object: string;

      /**
       * The file size in bytes. `null` until the upload has finished.
       */
      size: number | null;

      /**
       * Where the file is in its upload lifecycle.
       */
      upload_status: 'pending' | 'processing' | 'ready' | 'failed';

      /**
       * A URL to download the file: a permanent CDN URL for public files, a signed
       * expiring URL for private ones. `null` until the upload has finished.
       */
      url: string | null;

      /**
       * `public` files are served via an unsigned CDN URL; `private` files via a signed,
       * expiring URL.
       */
      visibility: 'public' | 'private';

      /**
       * The byte size each part (except the last) must be. Present only on create, and
       * only for multipart uploads.
       */
      multipart_chunk_size?: number | null;

      /**
       * The ID of the multipart upload, passed back to `complete`. Present only on
       * create, and only for multipart uploads.
       */
      multipart_upload_id?: string | null;

      multipart_upload_urls?: Array<Eula.MultipartUploadURL> | null;

      /**
       * Headers to send with the upload PUT. Present only on create.
       */
      upload_headers?: unknown;

      /**
       * Presigned URL to PUT the file's bytes to. Present only on create, and only for
       * single-part uploads.
       */
      upload_url?: string | null;
    }

    export namespace Eula {
      /**
       * The presigned URL for each part. Present only on create, and only for multipart
       * uploads.
       */
      export interface MultipartUploadURL {
        /**
         * The 1-based index of this part within the multipart upload.
         */
        part_number: number;

        /**
         * The presigned URL to PUT this part's bytes to.
         */
        url: string;
      }
    }

    /**
     * The single user who owns the account, whose email is the `email` above. Distinct
     * from the `owner` role on team members, which any number of them can hold.
     */
    export interface Owner {
      /**
       * User ID, prefixed `user_`.
       */
      id: string;

      /**
       * Display name.
       */
      name: string | null;

      /**
       * Avatar wrapper; its `url` is always present, using a generated placeholder when
       * the user set no picture.
       */
      profile_picture: Owner.ProfilePicture;

      /**
       * Public username.
       */
      username: string;
    }

    export namespace Owner {
      /**
       * Avatar wrapper; its `url` is always present, using a generated placeholder when
       * the user set no picture.
       */
      export interface ProfilePicture {
        /**
         * Avatar image URL. Always present — a generated placeholder when the user set no
         * picture.
         */
        url: string;
      }
    }

    /**
     * Parent account for connected accounts, or `null` for standalone accounts.
     */
    export interface ParentAccount {
      /**
       * Account ID, prefixed `biz_`.
       */
      id: string;

      /**
       * Account logo image URL.
       */
      logo_url: string | null;

      /**
       * Account public route identifier.
       */
      route: string;

      /**
       * Account display name.
       */
      title: string;

      /**
       * Markup rates this parent charges the connected account being read, keyed by fee
       * type (for example `crypto_deposit_markup`), each with `percentage_fee` and
       * `fixed_fee_usd`. Resolved with the connected account's own overrides winning
       * over the platform default.
       */
      fees?: { [key: string]: ParentAccount.Fees };
    }

    export namespace ParentAccount {
      export interface Fees {
        /**
         * Fixed markup in US dollars per transaction.
         */
        fixed_fee_usd: number;

        /**
         * Percentage of the transaction charged as markup.
         */
        percentage_fee: number;
      }
    }

    /**
     * Payment health controls currently applied to the account. Computed only on
     * `retrieve` and `me` for callers with `company:balance:read` scope; `null`
     * otherwise.
     */
    export interface PaymentControls {
      /**
       * Automatic refund settings for pre-chargeback dispute alerts.
       */
      dispute_alert_auto_refund: PaymentControls.DisputeAlertAutoRefund;

      /**
       * Fee charged for each dispute alert in USD. `null` when unavailable.
       */
      dispute_alert_fee_usd: number | null;

      /**
       * Whether 3-D Secure is forced on every card payment at checkout. The account
       * cannot bypass it while set.
       */
      enforce_3ds: boolean;

      /**
       * Whether payment health controls explicitly disable financing. This is
       * independent of financing approval in `capabilities.accept_bnpl_payments`.
       */
      financing_disabled: boolean;

      /**
       * Additional processing fee percentage for high-risk processing.
       */
      high_risk_processing_fee_percentage: number;

      /**
       * Percentage fee charged when pending, not-yet-settled balance is advanced to fund
       * the account's cards balance, where `2` means 2%. `0` when the account is exempt.
       */
      pending_auto_topup_fee_percentage: number;

      /**
       * Additional days payments remain pending before becoming available.
       */
      pending_balance_delay_days: number;

      /**
       * Reserve currently applied to incoming payment volume.
       */
      reserve: PaymentControls.Reserve;

      /**
       * Automatic refund settings for resolution center cases.
       */
      resolution_center_auto_refund: PaymentControls.ResolutionCenterAutoRefund;

      restricted_payment_methods: Array<
        'card_visa' | 'card_mastercard' | 'card_american_express' | 'card_discover_global_network'
      >;

      /**
       * Why pending funds without a settlement date aren't moving yet. `kyc_incomplete`
       * and `pending_information_request` are things the merchant can act on.
       * `withdrawals_disabled` means Whop has blocked withdrawals, so these funds cannot
       * become available. `null` when there's no reason to show — still clearing, or
       * held for a reason that isn't named here.
       */
      undated_pending_reason:
        | 'kyc_incomplete'
        | 'pending_information_request'
        | 'withdrawals_disabled'
        | null;

      /**
       * How the account's balance automatically withdraws.
       */
      withdrawal_schedule: PaymentControls.WithdrawalSchedule;
    }

    export namespace PaymentControls {
      /**
       * Automatic refund settings for pre-chargeback dispute alerts.
       */
      export interface DisputeAlertAutoRefund {
        /**
         * Whether the account owner is prevented from changing this threshold.
         */
        locked: boolean;

        /**
         * Maximum dispute alert amount automatically refunded in USD. `null` when
         * automatic refunds are disabled.
         */
        threshold_usd: number | null;
      }

      /**
       * Reserve currently applied to incoming payment volume.
       */
      export interface Reserve {
        /**
         * Number of days reserved funds are held before release.
         */
        hold_period_days: number;

        /**
         * Percentage of incoming payment volume held in reserve. `null` when no reserve is
         * applied.
         */
        percentage: number | null;
      }

      /**
       * Automatic refund settings for resolution center cases.
       */
      export interface ResolutionCenterAutoRefund {
        /**
         * Maximum card-funded resolution center case amount automatically refunded in USD.
         * `null` when automatic refunds are disabled for cards.
         */
        card_threshold_usd: number | null;

        /**
         * Maximum financing-funded resolution center case amount automatically refunded in
         * USD. `null` when automatic refunds are disabled for financing.
         */
        financing_threshold_usd: number | null;

        /**
         * Whether the account owner is prevented from changing these thresholds.
         */
        locked: boolean;

        /**
         * Maximum PayPal-funded resolution center case amount automatically refunded in
         * USD. `null` when automatic refunds are disabled for PayPal.
         */
        paypal_threshold_usd: number | null;
      }

      /**
       * How the account's balance automatically withdraws.
       */
      export interface WithdrawalSchedule {
        /**
         * Day the automatic withdrawal runs on: 0-6 (Sunday-Saturday) for `weekly`, 1-31
         * for `monthly`. `null` for `manual` and `daily`.
         */
        day: number | null;

        /**
         * How often the account's balance automatically withdraws.
         */
        frequency: 'manual' | 'daily' | 'weekly' | 'monthly';

        /**
         * Next date the automatic withdrawal is scheduled to run, as an ISO 8601 date.
         * `null` for `manual` and `daily`, where no single next date applies.
         */
        next_payout_date: string | null;
      }
    }

    /**
     * The account's privacy policy document, or `null` if they have not published one.
     */
    export interface PrivacyPolicy {
      /**
       * The file's ID, prefixed `file_`.
       */
      id: string;

      /**
       * The file's MIME type, e.g. `application/pdf`.
       */
      content_type: string | null;

      /**
       * When the file was created, as an ISO 8601 timestamp.
       */
      created_at: string;

      /**
       * The original filename, including its extension.
       */
      filename: string | null;

      /**
       * The type of this object, always `file`.
       */
      object: string;

      /**
       * The file size in bytes. `null` until the upload has finished.
       */
      size: number | null;

      /**
       * Where the file is in its upload lifecycle.
       */
      upload_status: 'pending' | 'processing' | 'ready' | 'failed';

      /**
       * A URL to download the file: a permanent CDN URL for public files, a signed
       * expiring URL for private ones. `null` until the upload has finished.
       */
      url: string | null;

      /**
       * `public` files are served via an unsigned CDN URL; `private` files via a signed,
       * expiring URL.
       */
      visibility: 'public' | 'private';

      /**
       * The byte size each part (except the last) must be. Present only on create, and
       * only for multipart uploads.
       */
      multipart_chunk_size?: number | null;

      /**
       * The ID of the multipart upload, passed back to `complete`. Present only on
       * create, and only for multipart uploads.
       */
      multipart_upload_id?: string | null;

      multipart_upload_urls?: Array<PrivacyPolicy.MultipartUploadURL> | null;

      /**
       * Headers to send with the upload PUT. Present only on create.
       */
      upload_headers?: unknown;

      /**
       * Presigned URL to PUT the file's bytes to. Present only on create, and only for
       * single-part uploads.
       */
      upload_url?: string | null;
    }

    export namespace PrivacyPolicy {
      /**
       * The presigned URL for each part. Present only on create, and only for multipart
       * uploads.
       */
      export interface MultipartUploadURL {
        /**
         * The 1-based index of this part within the multipart upload.
         */
        part_number: number;

        /**
         * The presigned URL to PUT this part's bytes to.
         */
        url: string;
      }
    }

    /**
     * Deprecated: use the `GET /economic_intelligence?account_id={account_id}`
     * endpoint instead. Optional actions that unlock capabilities or grow the account,
     * same shape as `required_actions`. Computed only on `retrieve` and `me`; `null`
     * otherwise.
     */
    export interface RecommendedAction {
      /**
       * The recommendation; new values may be added, so handle unknown actions
       * gracefully
       */
      action:
        | 'theme_business'
        | 'create_product'
        | 'create_plan'
        | 'verify_identity'
        | 'connect_affiliate_program'
        | 'create_promotion'
        | 'migrate_from_stripe'
        | 'accept_first_payment'
        | 'launch_first_ad'
        | 'launch_draft_campaign'
        | 'increase_ad_budget'
        | 'refresh_ad_creatives'
        | 'fix_ad_billing'
        | 'exclude_customers_from_ads'
        | 'retarget_abandoned_checkouts'
        | 'fix_funnel_dropoff'
        | 'invite_team_member'
        | 'enable_tax_collection'
        | 'create_card'
        | 'apply_for_financing';

      blocked_capabilities: Array<string>;

      /**
       * The URL the call-to-action links to
       */
      cta: string;

      /**
       * Button label
       */
      cta_label: string;

      /**
       * Supporting copy, or empty
       */
      description: string;

      /**
       * Illustration icon URL, or `null`
       */
      icon_url: string | null;

      /**
       * Estimated impact from 0-100, or `null` when not ranked
       */
      impact_score: number | null;

      /**
       * Why this action was recommended, or `null`
       */
      reasoning: string | null;

      /**
       * Always optional — never blocking
       */
      status: 'optional';

      /**
       * Headline for the recommendation
       */
      title: string;
    }

    /**
     * Actions the account owner must take to unblock capabilities like payouts and
     * card spend, ordered by display priority. Computed only on `retrieve` and `me`
     * for callers with `company:balance:read` scope; `null` otherwise.
     */
    export interface RequiredAction {
      /**
       * What the holder must do; new values may be added, so handle unknown actions
       * gracefully
       */
      action:
        | 'deposit_funds'
        | 'accept_airwallex_terms'
        | 'submit_information_request'
        | 'update_automatic_withdrawal_method'
        | 'reauthorize_payout_methods'
        | 'update_payout_profile'
        | 'card_usage_review'
        | 'verify_identity'
        | 'sign_formation_documents'
        | 'connect_fulfillment_tracker'
        | 'setup_apple_pay_domains'
        | 'configure_tax_remitter'
        | 'add_vat_registration';

      blocked_capabilities: Array<string>;

      /**
       * The URL the call-to-action links to, or null when there is no button
       */
      cta: string | null;

      /**
       * Button label, or empty when there is no button
       */
      cta_label: string;

      /**
       * Supporting copy, or empty
       */
      description: string;

      /**
       * The URL of the action's illustration icon, or null if it has none
       */
      icon_url: string | null;

      /**
       * required (act now) or pending (under review)
       */
      status: 'required' | 'pending';

      /**
       * Headline for the action
       */
      title: string;
    }

    /**
     * The account's return policy document, or `null` if they have not published one.
     */
    export interface ReturnPolicy {
      /**
       * The file's ID, prefixed `file_`.
       */
      id: string;

      /**
       * The file's MIME type, e.g. `application/pdf`.
       */
      content_type: string | null;

      /**
       * When the file was created, as an ISO 8601 timestamp.
       */
      created_at: string;

      /**
       * The original filename, including its extension.
       */
      filename: string | null;

      /**
       * The type of this object, always `file`.
       */
      object: string;

      /**
       * The file size in bytes. `null` until the upload has finished.
       */
      size: number | null;

      /**
       * Where the file is in its upload lifecycle.
       */
      upload_status: 'pending' | 'processing' | 'ready' | 'failed';

      /**
       * A URL to download the file: a permanent CDN URL for public files, a signed
       * expiring URL for private ones. `null` until the upload has finished.
       */
      url: string | null;

      /**
       * `public` files are served via an unsigned CDN URL; `private` files via a signed,
       * expiring URL.
       */
      visibility: 'public' | 'private';

      /**
       * The byte size each part (except the last) must be. Present only on create, and
       * only for multipart uploads.
       */
      multipart_chunk_size?: number | null;

      /**
       * The ID of the multipart upload, passed back to `complete`. Present only on
       * create, and only for multipart uploads.
       */
      multipart_upload_id?: string | null;

      multipart_upload_urls?: Array<ReturnPolicy.MultipartUploadURL> | null;

      /**
       * Headers to send with the upload PUT. Present only on create.
       */
      upload_headers?: unknown;

      /**
       * Presigned URL to PUT the file's bytes to. Present only on create, and only for
       * single-part uploads.
       */
      upload_url?: string | null;
    }

    export namespace ReturnPolicy {
      /**
       * The presigned URL for each part. Present only on create, and only for multipart
       * uploads.
       */
      export interface MultipartUploadURL {
        /**
         * The 1-based index of this part within the multipart upload.
         */
        part_number: number;

        /**
         * The presigned URL to PUT this part's bytes to.
         */
        url: string;
      }
    }

    /**
     * Account social links.
     */
    export interface SocialLink {
      /**
       * The ID of the social link
       */
      id: string;

      /**
       * The optional display title for the social link
       */
      title: string | null;

      /**
       * The social link URL
       */
      url: string;

      /**
       * The social platform for this link
       */
      website:
        | 'x'
        | 'instagram'
        | 'facebook'
        | 'tiktok'
        | 'youtube'
        | 'linkedin'
        | 'twitch'
        | 'website'
        | 'custom';
    }

    /**
     * Account store page display configuration.
     */
    export interface StorePageConfig {
      /**
       * Accent color used on the account store page.
       */
      accent_color:
        | 'ruby'
        | 'tomato'
        | 'red'
        | 'crimson'
        | 'pink'
        | 'plum'
        | 'purple'
        | 'violet'
        | 'iris'
        | 'cyan'
        | 'teal'
        | 'jade'
        | 'green'
        | 'grass'
        | 'brown'
        | 'blue'
        | 'orange'
        | 'indigo'
        | 'sky'
        | 'mint'
        | 'yellow'
        | 'amber'
        | 'lime'
        | 'lemon'
        | 'magenta'
        | 'gold'
        | 'bronze'
        | 'gray'
        | null;

      /**
       * Layout used on the account store page.
       */
      layout: 'featured' | 'compact' | null;

      /**
       * Profile presentation used on the account store page.
       */
      profile_variant: 'personal' | 'business' | null;

      /**
       * Whether the account store page shows a Whop affiliate link.
       */
      whop_affiliate_link: boolean;
    }

    /**
     * Account tax/VAT registrations. Empty when none are set.
     */
    export interface TaxIdentifier {
      /**
       * Tax identifier ID.
       */
      id: string;

      /**
       * Tax ID type.
       */
      tax_id_type:
        | 'ad_nrt'
        | 'ao_tin'
        | 'ar_cuit'
        | 'al_tin'
        | 'am_tin'
        | 'aw_tin'
        | 'au_abn'
        | 'au_arn'
        | 'eu_vat'
        | 'az_tin'
        | 'bs_tin'
        | 'bh_vat'
        | 'bd_bin'
        | 'bb_tin'
        | 'by_tin'
        | 'bj_ifu'
        | 'bo_tin'
        | 'ba_tin'
        | 'br_cnpj'
        | 'br_cpf'
        | 'bg_uic'
        | 'bf_ifu'
        | 'kh_tin'
        | 'cm_niu'
        | 'ca_bn'
        | 'ca_gst_hst'
        | 'ca_pst_bc'
        | 'ca_pst_mb'
        | 'ca_pst_sk'
        | 'ca_qst'
        | 'cv_nif'
        | 'cl_tin'
        | 'cn_tin'
        | 'co_nit'
        | 'cd_nif'
        | 'cr_tin'
        | 'hr_oib'
        | 'do_rcn'
        | 'ec_ruc'
        | 'eg_tin'
        | 'sv_nit'
        | 'et_tin'
        | 'eu_oss_vat'
        | 'ge_vat'
        | 'gh_tin'
        | 'de_stn'
        | 'gb_vat'
        | 'gn_nif'
        | 'hk_br'
        | 'hu_tin'
        | 'is_vat'
        | 'in_gst'
        | 'id_npwp'
        | 'il_vat'
        | 'jp_cn'
        | 'jp_rn'
        | 'jp_trn'
        | 'kz_bin'
        | 'ke_pin'
        | 'kg_tin'
        | 'la_tin'
        | 'li_uid'
        | 'li_vat'
        | 'my_frp'
        | 'my_itn'
        | 'my_sst'
        | 'mr_nif'
        | 'mx_rfc'
        | 'md_vat'
        | 'me_pib'
        | 'ma_vat'
        | 'np_pan'
        | 'nz_gst'
        | 'ng_tin'
        | 'mk_vat'
        | 'no_vat'
        | 'no_voec'
        | 'om_vat'
        | 'pe_ruc'
        | 'ph_tin'
        | 'pl_nip'
        | 'ro_tin'
        | 'ru_inn'
        | 'ru_kpp'
        | 'sa_vat'
        | 'sn_ninea'
        | 'rs_pib'
        | 'sg_gst'
        | 'sg_uen'
        | 'si_tin'
        | 'za_vat'
        | 'kr_brn'
        | 'es_cif'
        | 'ch_uid'
        | 'ch_vat'
        | 'tw_vat'
        | 'tj_tin'
        | 'tz_vat'
        | 'th_vat'
        | 'tr_tin'
        | 'ug_tin'
        | 'ua_vat'
        | 'ae_trn'
        | 'us_ein'
        | 'uy_ruc'
        | 'uz_tin'
        | 'uz_vat'
        | 've_rif'
        | 'vn_tin'
        | 'zm_tin'
        | 'zw_tin'
        | 'sr_fin'
        | 'xi_vat';

      /**
       * Tax ID value.
       */
      tax_id_value: string;
    }

    /**
     * The account's terms of service document, or `null` if they have not published
     * one.
     */
    export interface TermsOfService {
      /**
       * The file's ID, prefixed `file_`.
       */
      id: string;

      /**
       * The file's MIME type, e.g. `application/pdf`.
       */
      content_type: string | null;

      /**
       * When the file was created, as an ISO 8601 timestamp.
       */
      created_at: string;

      /**
       * The original filename, including its extension.
       */
      filename: string | null;

      /**
       * The type of this object, always `file`.
       */
      object: string;

      /**
       * The file size in bytes. `null` until the upload has finished.
       */
      size: number | null;

      /**
       * Where the file is in its upload lifecycle.
       */
      upload_status: 'pending' | 'processing' | 'ready' | 'failed';

      /**
       * A URL to download the file: a permanent CDN URL for public files, a signed
       * expiring URL for private ones. `null` until the upload has finished.
       */
      url: string | null;

      /**
       * `public` files are served via an unsigned CDN URL; `private` files via a signed,
       * expiring URL.
       */
      visibility: 'public' | 'private';

      /**
       * The byte size each part (except the last) must be. Present only on create, and
       * only for multipart uploads.
       */
      multipart_chunk_size?: number | null;

      /**
       * The ID of the multipart upload, passed back to `complete`. Present only on
       * create, and only for multipart uploads.
       */
      multipart_upload_id?: string | null;

      multipart_upload_urls?: Array<TermsOfService.MultipartUploadURL> | null;

      /**
       * Headers to send with the upload PUT. Present only on create.
       */
      upload_headers?: unknown;

      /**
       * Presigned URL to PUT the file's bytes to. Present only on create, and only for
       * single-part uploads.
       */
      upload_url?: string | null;
    }

    export namespace TermsOfService {
      /**
       * The presigned URL for each part. Present only on create, and only for multipart
       * uploads.
       */
      export interface MultipartUploadURL {
        /**
         * The 1-based index of this part within the multipart upload.
         */
        part_number: number;

        /**
         * The presigned URL to PUT this part's bytes to.
         */
        url: string;
      }
    }

    /**
     * Account primary crypto wallet, or `null` if none has been provisioned.
     */
    export interface Wallet {
      /**
       * Wallet ID, prefixed `wallet_`.
       */
      id: string;

      /**
       * The on-chain address of the wallet
       */
      address: string;

      /**
       * The blockchain network the wallet lives on
       */
      network: 'solana' | 'ethereum' | 'bitcoin';
    }
  }
}

export interface AccountFinancingDeniedWebhookEvent {
  /**
   * A unique ID for every single webhook request
   */
  id: string;

  /**
   * The API version for this webhook
   */
  api_version: 'v1';

  /**
   * The dated API version (Api-Version-Date) the payload is serialized to
   */
  api_version_date: string | null;

  data: AccountFinancingDeniedWebhookEvent.Data;

  /**
   * The timestamp in ISO 8601 format that the webhook was sent at on the server
   */
  timestamp: string;

  /**
   * The webhook event type
   */
  type: 'account.financing_denied';

  /**
   * The account ID that this webhook event is associated with
   */
  account_id?: string | null;

  /**
   * For some `.updated` events, the old values of the payload fields that changed,
   * keyed by field name. Omitted when no capture is available for the event
   */
  previous_attributes?: unknown;
}

export namespace AccountFinancingDeniedWebhookEvent {
  export interface Data {
    /**
     * Account ID, prefixed `biz_`.
     */
    id: string;

    balances: Array<Data.Balance>;

    /**
     * Account banner image URL.
     */
    banner_image_url: string | null;

    /**
     * Account business address used to calculate tax, with `line1`, `line2`, `city`,
     * `state`, `postal_code`, and `country`. `null` when no address is set.
     */
    business_address: unknown | null;

    /**
     * The account's legal business name used with its tax address.
     */
    business_name: string | null;

    /**
     * High-level business category for the account. See the
     * [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary)
     * for valid values.
     */
    business_type: string | null;

    /**
     * Whether pending funds may be transferred from this platform account to its
     * connected accounts.
     */
    can_transfer_pending_balance_to_children: boolean;

    /**
     * Payment rails enabled for this account, each `active`, `inactive`, or `pending`
     * (onboarding or review in progress). Computed only on `retrieve` and `me` for
     * callers with `company:balance:read` scope; `null` otherwise.
     */
    capabilities: Data.Capabilities | null;

    /**
     * Whop Cards application details for the account. Computed only on `retrieve` and
     * `me` for callers with `company:balance:read` scope; `null` otherwise, or when
     * the account has no card application.
     */
    cards: Data.Cards | null;

    /**
     * Whether checkout shows a VAT/tax ID field for buyers to optionally enter. Does
     * not require a VAT ID to purchase.
     */
    collect_vat_id: boolean;

    /**
     * Company formation state for the account, managed through
     * [Form Company](/api-reference/beta/accounts/form-company). A `draft` `status`
     * until the formation checkout is paid, then filing progress with downloadable
     * documents and signatures awaiting action. Empty when the formation state is
     * temporarily unavailable.
     */
    company_formation: Data.CompanyFormation;

    /**
     * Country where the account is located.
     */
    country: string | null;

    /**
     * When the account was created, as an ISO 8601 timestamp.
     */
    created_at: string;

    /**
     * Account promotional description.
     */
    description: string | null;

    /**
     * Whether economic intelligence is enabled for the account.
     */
    economic_intelligence: boolean;

    /**
     * Account owner email address.
     */
    email: string | null;

    /**
     * The account's end-user license agreement document, or `null` if they have not
     * published one.
     */
    eula: Data.Eula | null;

    home_preferences: Array<'hide_member_count' | 'hide_members_card'>;

    /**
     * Account industry group. See the
     * [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary)
     * for valid values.
     */
    industry_group: string | null;

    /**
     * Specific industry vertical for the account. See the
     * [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary)
     * for valid values.
     */
    industry_type: string | null;

    /**
     * Prefix used for account invoices.
     */
    invoice_prefix: string | null;

    /**
     * Account logo image URL.
     */
    logo_url: string | null;

    /**
     * Arbitrary key/value metadata supplied at account creation.
     */
    metadata: unknown;

    /**
     * Type of onboarding the account has completed.
     */
    onboarding_type: 'platform' | 'seller' | null;

    /**
     * Account Open Graph image URL.
     */
    opengraph_image_url: string | null;

    /**
     * Account Open Graph image variant.
     */
    opengraph_image_variant: 'white' | 'black' | 'orange' | null;

    /**
     * Business type details when business_type is `other`.
     */
    other_business_description: string | null;

    /**
     * Industry details when industry_type is `other`.
     */
    other_industry_description: string | null;

    /**
     * The single user who owns the account, whose email is the `email` above. Distinct
     * from the `owner` role on team members, which any number of them can hold.
     */
    owner: Data.Owner;

    /**
     * Parent account for connected accounts, or `null` for standalone accounts.
     */
    parent_account: Data.ParentAccount | null;

    /**
     * Payment health controls currently applied to the account. Computed only on
     * `retrieve` and `me` for callers with `company:balance:read` scope; `null`
     * otherwise.
     */
    payment_controls: Data.PaymentControls | null;

    /**
     * The account's privacy policy document, or `null` if they have not published one.
     */
    privacy_policy: Data.PrivacyPolicy | null;

    /**
     * Tax classification code applied by default to the account's products, with `id`,
     * `name`, and `product_type`. `null` when no default is set.
     */
    product_tax_code: unknown | null;

    /**
     * @deprecated DEPRECATED: Use the
     * `GET /economic_intelligence?account_id={account_id}` endpoint instead.
     */
    recommended_actions: Array<Data.RecommendedAction> | null;

    /**
     * Whether authorized users must enable two-factor authentication.
     */
    require_2fa: boolean;

    required_actions: Array<Data.RequiredAction> | null;

    /**
     * The account's return policy document, or `null` if they have not published one.
     */
    return_policy: Data.ReturnPolicy | null;

    /**
     * Account public route identifier.
     */
    route: string;

    /**
     * Whether Whop sends transactional emails to customers on behalf of this account.
     */
    send_customer_emails: boolean;

    /**
     * Whether the account appears in joined whops on other accounts.
     */
    show_joined_whops: boolean;

    /**
     * Whether reviews are displayed on direct-to-consumer product pages.
     */
    show_reviews_dtc: boolean;

    /**
     * Whether the account shows users in the user directory.
     */
    show_user_directory: boolean;

    social_links: Array<Data.SocialLink>;

    /**
     * Whether the account settles on stablecoin rails — its balance is held on-chain
     * as USDT and paid out over crypto, rather than as fiat cash.
     */
    stablecoin_rails: boolean;

    /**
     * Whether the account can operate on Whop: `active` or `suspended`. Computed on
     * `list`, `retrieve`, `me`, and `suspend`; `null` otherwise.
     */
    status: string | null;

    /**
     * Why the account was suspended, in language safe to show the account owner.
     * Computed on `retrieve`, `me`, and `suspend`; `null` otherwise, when `status` is
     * not `suspended`, and when the suspension was recorded without a reason.
     */
    status_reason: string | null;

    /**
     * Account store page display configuration.
     */
    store_page_config: Data.StorePageConfig;

    /**
     * Target audience for this account.
     */
    target_audience: string | null;

    tax_collection_enabled_states: Array<string>;

    tax_identifiers: Array<Data.TaxIdentifier>;

    /**
     * Who calculates and remits tax for the account: `whop` (Whop calculates and
     * remits), `self` (Whop calculates; the account collects and remits), or `none`
     * (neither; the account is responsible). `null` until the account enrolls in the
     * Whop tax service.
     */
    tax_remitted_by: 'whop' | 'self' | 'none' | null;

    /**
     * How tax is applied to the account's prices: `inclusive` (tax included in the
     * listed price) or `exclusive` (tax added on top). Defaults to `exclusive` when
     * unset; `null` only when the account has no payment connection.
     */
    tax_type: 'inclusive' | 'exclusive' | null;

    /**
     * The account's terms of service document, or `null` if they have not published
     * one.
     */
    terms_of_service: Data.TermsOfService | null;

    /**
     * Account-level 3D Secure behavior. `mandate_challenge` requires cardholder
     * verification on supported card payments; `null` uses the standard checkout flow.
     */
    three_ds_level: 'mandate_challenge' | null;

    /**
     * Account display name.
     */
    title: string;

    /**
     * Account lifetime sales, normalized to USD. Computed only on `retrieve` and `me`
     * for callers with `stats:read` scope; `null` otherwise.
     */
    total_earned_usd: number | null;

    /**
     * Total USD value across balances with known exchange rates. Computed only on
     * single-account reads (`retrieve` and `me`); `null` on list responses, writes,
     * missing balance-read permission, or unavailable balance source.
     */
    total_usd: string | null;

    /**
     * Whether the account uses its logo as the fallback Open Graph image.
     */
    use_logo_as_opengraph_image_fallback: boolean;

    /**
     * Account identity verification status for the `individual` (KYC) and `business`
     * (KYB) profiles. Each is `null` until created, otherwise a `status` of
     * `not_started`, `pending`, `manual_review`, `approved`, or `rejected`.
     */
    verification: unknown;

    /**
     * Lifetime volume through the account — sales plus transfers received — normalized
     * to USD. Computed only on `list` for callers with `stats:read` on the account;
     * `null` otherwise.
     */
    volume_usd: number | null;

    /**
     * Account primary crypto wallet, or `null` if none has been provisioned.
     */
    wallet: Data.Wallet | null;
  }

  export namespace Data {
    /**
     * Account holdings, each with USD value. Empty when `total_usd` is `null`.
     */
    export interface Balance {
      /**
       * Total amount held in native units, as a decimal string.
       */
      balance: string;

      /**
       * Balance split into available, pending, and reserve amounts, as native-unit
       * decimal strings, with the days the pending amount is expected to settle.
       * On-chain crypto is entirely available; good_funds and fiat cash can have pending
       * or reserve portions.
       */
      breakdown: Balance.Breakdown;

      /**
       * Holding icon URL.
       */
      icon_url: string | null;

      /**
       * The holding's display name
       */
      name: string;

      /**
       * USD price per unit, or `null` when no exchange rate is available.
       */
      price_usd: number | null;

      /**
       * Holding display symbol, such as `USDT`, `cbBTC`, or `EUR`.
       */
      symbol: string;

      /**
       * Holding USD value, or `null` when no exchange rate is available.
       */
      value_usd: string | null;
    }

    export namespace Balance {
      /**
       * Balance split into available, pending, and reserve amounts, as native-unit
       * decimal strings, with the days the pending amount is expected to settle.
       * On-chain crypto is entirely available; good_funds and fiat cash can have pending
       * or reserve portions.
       */
      export interface Breakdown {
        /**
         * Amount you can spend, send, or withdraw now, in native units, as a decimal
         * string.
         */
        available: string;

        /**
         * Amount moving between the account's own destinations, such as a treasury sweep
         * to its crypto wallet or a card top-up. In native units, as a decimal string.
         */
        in_transit: string;

        /**
         * Amount from recent payments still settling, in native units, as a decimal
         * string.
         */
        pending: string;

        pending_settlements: Array<Breakdown.PendingSettlement>;

        /**
         * Amount held back, in native units, as a decimal string. Retrieve the account's
         * reserves for why it is held and when it unlocks.
         */
        reserve: string;
      }

      export namespace Breakdown {
        /**
         * When the pending amount is expected to settle, one entry per day, earliest
         * first. Money with no scheduled settlement day, such as a transfer in flight, is
         * left out — so these can sum to less than `pending`, never more.
         */
        export interface PendingSettlement {
          /**
           * Amount expected that day, in native units, as a decimal string.
           */
          amount: string;

          /**
           * The day this money is expected to finish settling, as an ISO 8601 date.
           */
          date: string;
        }
      }
    }

    /**
     * Payment rails enabled for this account, each `active`, `inactive`, or `pending`
     * (onboarding or review in progress). Computed only on `retrieve` and `me` for
     * callers with `company:balance:read` scope; `null` otherwise.
     */
    export interface Capabilities {
      /**
       * Bank payins: debits, transfers, and local bank rails
       */
      accept_bank_payments: 'active' | 'inactive' | 'pending';

      /**
       * Buy-now-pay-later payins; requires approval
       */
      accept_bnpl_payments: 'active' | 'inactive' | 'pending';

      /**
       * Card payins, including Apple Pay and Google Pay
       */
      accept_card_payments: 'active' | 'inactive' | 'pending';

      /**
       * Deposits by bank wire or ACH to the account's virtual bank account
       */
      bank_deposit: 'active' | 'inactive' | 'pending';

      /**
       * Balance top-ups by charging a stored payment method
       */
      card_deposit: 'active' | 'inactive' | 'pending';

      /**
       * Issuing Whop cards; requires card application approval
       */
      card_issuing: 'active' | 'inactive' | 'pending';

      /**
       * On-chain deposits to the account's crypto wallet
       */
      crypto_deposit: 'active' | 'inactive' | 'pending';

      /**
       * On-chain payouts to a crypto wallet
       */
      crypto_payout: 'active' | 'inactive' | 'pending';

      /**
       * Instant payouts to an eligible payout destination
       */
      instant_payout: 'active' | 'inactive' | 'pending';

      /**
       * Launching ad campaigns through Whop Ads. `inactive` while a requested ads
       * services agreement is awaiting the account's signature.
       */
      run_ads: 'active' | 'inactive' | 'pending';

      /**
       * Standard payouts to an external payout destination
       */
      standard_payout: 'active' | 'inactive' | 'pending';

      /**
       * Transfers to other accounts
       */
      transfer: 'active' | 'inactive' | 'pending';
    }

    /**
     * Whop Cards application details for the account. Computed only on `retrieve` and
     * `me` for callers with `company:balance:read` scope; `null` otherwise, or when
     * the account has no card application.
     */
    export interface Cards {
      /**
       * Whether the card application verifies a business (`business`, KYB) or a person
       * (`individual`, consumer identity). `null` when the application is not yet linked
       * to a verification.
       */
      kind: 'individual' | 'business' | null;

      /**
       * Where the card application stands. `approved` means cards can be issued.
       * `needs_verification` means the applicant has not completed identity verification
       * yet; `needs_information` means they did, but the documents were rejected for a
       * fixable reason and must be resubmitted. `pending` and `manual_review` are in
       * flight. `denied`, `locked`, and `canceled` are terminal.
       */
      status:
        | 'approved'
        | 'pending'
        | 'manual_review'
        | 'denied'
        | 'locked'
        | 'canceled'
        | 'needs_verification'
        | 'needs_information';
    }

    /**
     * Company formation state for the account, managed through
     * [Form Company](/api-reference/beta/accounts/form-company). A `draft` `status`
     * until the formation checkout is paid, then filing progress with downloadable
     * documents and signatures awaiting action. Empty when the formation state is
     * temporarily unavailable.
     */
    export interface CompanyFormation {
      documents?: Array<CompanyFormation.Document>;

      /**
       * Whether the company's EIN has been issued by the IRS. Present once `status`
       * leaves `draft`.
       */
      ein_registered?: boolean;

      /**
       * Registered company name including the entity ending, for example `Acme, LLC`.
       * Present once `status` leaves `draft`.
       */
      legal_name?: string | null;

      /**
       * IRS forms still awaiting a founder's signature, each with a hosted signing URL.
       * Present once `status` leaves `draft`; empty when nothing needs signing.
       */
      signatures?: CompanyFormation.Signatures;

      /**
       * Whether the state formation filing is complete. Present once `status` leaves
       * `draft`.
       */
      state_registered?: boolean;

      status?: 'draft' | 'processing' | 'filed' | 'rejected' | 'completed';

      [k: string]: unknown;
    }

    export namespace CompanyFormation {
      /**
       * Formation documents available for download, such as the Articles of Organization
       * and the EIN confirmation letter. Present once `status` leaves `draft`.
       */
      export interface Document {
        /**
         * Document ID, prefixed `file_`.
         */
        id: string;

        /**
         * Human-readable document name, such as `Articles of Organization`.
         */
        name: string;

        /**
         * Document category: `articles_of_organization`, `operating_agreement`,
         * `ein_letter`, `signed_ss4`, `signed_form8821`, or `mail` for postal
         * correspondence received on the company's behalf.
         */
        type: string;

        /**
         * CDN URL for downloading the document.
         */
        url: string;
      }

      /**
       * IRS forms still awaiting a founder's signature, each with a hosted signing URL.
       * Present once `status` leaves `draft`; empty when nothing needs signing.
       */
      export interface Signatures {
        /**
         * Signature state for IRS Form 8821, the tax information authorization. Present
         * only while the form still needs the founder's action.
         */
        form8821?: Signatures.Form8821;

        /**
         * Signature state for IRS Form SS-4, the EIN application. Present only while the
         * form still needs the founder's action.
         */
        ss4?: Signatures.Ss4;

        [k: string]: unknown;
      }

      export namespace Signatures {
        /**
         * Signature state for IRS Form 8821, the tax information authorization. Present
         * only while the form still needs the founder's action.
         */
        export interface Form8821 {
          /**
           * `pending` when a signing session is ready for the founder; `unknown` when the
           * signature state could not be determined.
           */
          status: 'pending' | 'unknown';

          /**
           * When the signing URL expires, as an ISO 8601 timestamp. Present while `status`
           * is `pending`.
           */
          expires_at?: string;

          /**
           * Hosted signing URL where the founder completes the form. Present while `status`
           * is `pending`.
           */
          url?: string;
        }

        /**
         * Signature state for IRS Form SS-4, the EIN application. Present only while the
         * form still needs the founder's action.
         */
        export interface Ss4 {
          /**
           * `pending` when a signing session is ready for the founder; `unknown` when the
           * signature state could not be determined.
           */
          status: 'pending' | 'unknown';

          /**
           * When the signing URL expires, as an ISO 8601 timestamp. Present while `status`
           * is `pending`.
           */
          expires_at?: string;

          /**
           * Hosted signing URL where the founder completes the form. Present while `status`
           * is `pending`.
           */
          url?: string;
        }
      }
    }

    /**
     * The account's end-user license agreement document, or `null` if they have not
     * published one.
     */
    export interface Eula {
      /**
       * The file's ID, prefixed `file_`.
       */
      id: string;

      /**
       * The file's MIME type, e.g. `application/pdf`.
       */
      content_type: string | null;

      /**
       * When the file was created, as an ISO 8601 timestamp.
       */
      created_at: string;

      /**
       * The original filename, including its extension.
       */
      filename: string | null;

      /**
       * The type of this object, always `file`.
       */
      object: string;

      /**
       * The file size in bytes. `null` until the upload has finished.
       */
      size: number | null;

      /**
       * Where the file is in its upload lifecycle.
       */
      upload_status: 'pending' | 'processing' | 'ready' | 'failed';

      /**
       * A URL to download the file: a permanent CDN URL for public files, a signed
       * expiring URL for private ones. `null` until the upload has finished.
       */
      url: string | null;

      /**
       * `public` files are served via an unsigned CDN URL; `private` files via a signed,
       * expiring URL.
       */
      visibility: 'public' | 'private';

      /**
       * The byte size each part (except the last) must be. Present only on create, and
       * only for multipart uploads.
       */
      multipart_chunk_size?: number | null;

      /**
       * The ID of the multipart upload, passed back to `complete`. Present only on
       * create, and only for multipart uploads.
       */
      multipart_upload_id?: string | null;

      multipart_upload_urls?: Array<Eula.MultipartUploadURL> | null;

      /**
       * Headers to send with the upload PUT. Present only on create.
       */
      upload_headers?: unknown;

      /**
       * Presigned URL to PUT the file's bytes to. Present only on create, and only for
       * single-part uploads.
       */
      upload_url?: string | null;
    }

    export namespace Eula {
      /**
       * The presigned URL for each part. Present only on create, and only for multipart
       * uploads.
       */
      export interface MultipartUploadURL {
        /**
         * The 1-based index of this part within the multipart upload.
         */
        part_number: number;

        /**
         * The presigned URL to PUT this part's bytes to.
         */
        url: string;
      }
    }

    /**
     * The single user who owns the account, whose email is the `email` above. Distinct
     * from the `owner` role on team members, which any number of them can hold.
     */
    export interface Owner {
      /**
       * User ID, prefixed `user_`.
       */
      id: string;

      /**
       * Display name.
       */
      name: string | null;

      /**
       * Avatar wrapper; its `url` is always present, using a generated placeholder when
       * the user set no picture.
       */
      profile_picture: Owner.ProfilePicture;

      /**
       * Public username.
       */
      username: string;
    }

    export namespace Owner {
      /**
       * Avatar wrapper; its `url` is always present, using a generated placeholder when
       * the user set no picture.
       */
      export interface ProfilePicture {
        /**
         * Avatar image URL. Always present — a generated placeholder when the user set no
         * picture.
         */
        url: string;
      }
    }

    /**
     * Parent account for connected accounts, or `null` for standalone accounts.
     */
    export interface ParentAccount {
      /**
       * Account ID, prefixed `biz_`.
       */
      id: string;

      /**
       * Account logo image URL.
       */
      logo_url: string | null;

      /**
       * Account public route identifier.
       */
      route: string;

      /**
       * Account display name.
       */
      title: string;

      /**
       * Markup rates this parent charges the connected account being read, keyed by fee
       * type (for example `crypto_deposit_markup`), each with `percentage_fee` and
       * `fixed_fee_usd`. Resolved with the connected account's own overrides winning
       * over the platform default.
       */
      fees?: { [key: string]: ParentAccount.Fees };
    }

    export namespace ParentAccount {
      export interface Fees {
        /**
         * Fixed markup in US dollars per transaction.
         */
        fixed_fee_usd: number;

        /**
         * Percentage of the transaction charged as markup.
         */
        percentage_fee: number;
      }
    }

    /**
     * Payment health controls currently applied to the account. Computed only on
     * `retrieve` and `me` for callers with `company:balance:read` scope; `null`
     * otherwise.
     */
    export interface PaymentControls {
      /**
       * Automatic refund settings for pre-chargeback dispute alerts.
       */
      dispute_alert_auto_refund: PaymentControls.DisputeAlertAutoRefund;

      /**
       * Fee charged for each dispute alert in USD. `null` when unavailable.
       */
      dispute_alert_fee_usd: number | null;

      /**
       * Whether 3-D Secure is forced on every card payment at checkout. The account
       * cannot bypass it while set.
       */
      enforce_3ds: boolean;

      /**
       * Whether payment health controls explicitly disable financing. This is
       * independent of financing approval in `capabilities.accept_bnpl_payments`.
       */
      financing_disabled: boolean;

      /**
       * Additional processing fee percentage for high-risk processing.
       */
      high_risk_processing_fee_percentage: number;

      /**
       * Percentage fee charged when pending, not-yet-settled balance is advanced to fund
       * the account's cards balance, where `2` means 2%. `0` when the account is exempt.
       */
      pending_auto_topup_fee_percentage: number;

      /**
       * Additional days payments remain pending before becoming available.
       */
      pending_balance_delay_days: number;

      /**
       * Reserve currently applied to incoming payment volume.
       */
      reserve: PaymentControls.Reserve;

      /**
       * Automatic refund settings for resolution center cases.
       */
      resolution_center_auto_refund: PaymentControls.ResolutionCenterAutoRefund;

      restricted_payment_methods: Array<
        'card_visa' | 'card_mastercard' | 'card_american_express' | 'card_discover_global_network'
      >;

      /**
       * Why pending funds without a settlement date aren't moving yet. `kyc_incomplete`
       * and `pending_information_request` are things the merchant can act on.
       * `withdrawals_disabled` means Whop has blocked withdrawals, so these funds cannot
       * become available. `null` when there's no reason to show — still clearing, or
       * held for a reason that isn't named here.
       */
      undated_pending_reason:
        | 'kyc_incomplete'
        | 'pending_information_request'
        | 'withdrawals_disabled'
        | null;

      /**
       * How the account's balance automatically withdraws.
       */
      withdrawal_schedule: PaymentControls.WithdrawalSchedule;
    }

    export namespace PaymentControls {
      /**
       * Automatic refund settings for pre-chargeback dispute alerts.
       */
      export interface DisputeAlertAutoRefund {
        /**
         * Whether the account owner is prevented from changing this threshold.
         */
        locked: boolean;

        /**
         * Maximum dispute alert amount automatically refunded in USD. `null` when
         * automatic refunds are disabled.
         */
        threshold_usd: number | null;
      }

      /**
       * Reserve currently applied to incoming payment volume.
       */
      export interface Reserve {
        /**
         * Number of days reserved funds are held before release.
         */
        hold_period_days: number;

        /**
         * Percentage of incoming payment volume held in reserve. `null` when no reserve is
         * applied.
         */
        percentage: number | null;
      }

      /**
       * Automatic refund settings for resolution center cases.
       */
      export interface ResolutionCenterAutoRefund {
        /**
         * Maximum card-funded resolution center case amount automatically refunded in USD.
         * `null` when automatic refunds are disabled for cards.
         */
        card_threshold_usd: number | null;

        /**
         * Maximum financing-funded resolution center case amount automatically refunded in
         * USD. `null` when automatic refunds are disabled for financing.
         */
        financing_threshold_usd: number | null;

        /**
         * Whether the account owner is prevented from changing these thresholds.
         */
        locked: boolean;

        /**
         * Maximum PayPal-funded resolution center case amount automatically refunded in
         * USD. `null` when automatic refunds are disabled for PayPal.
         */
        paypal_threshold_usd: number | null;
      }

      /**
       * How the account's balance automatically withdraws.
       */
      export interface WithdrawalSchedule {
        /**
         * Day the automatic withdrawal runs on: 0-6 (Sunday-Saturday) for `weekly`, 1-31
         * for `monthly`. `null` for `manual` and `daily`.
         */
        day: number | null;

        /**
         * How often the account's balance automatically withdraws.
         */
        frequency: 'manual' | 'daily' | 'weekly' | 'monthly';

        /**
         * Next date the automatic withdrawal is scheduled to run, as an ISO 8601 date.
         * `null` for `manual` and `daily`, where no single next date applies.
         */
        next_payout_date: string | null;
      }
    }

    /**
     * The account's privacy policy document, or `null` if they have not published one.
     */
    export interface PrivacyPolicy {
      /**
       * The file's ID, prefixed `file_`.
       */
      id: string;

      /**
       * The file's MIME type, e.g. `application/pdf`.
       */
      content_type: string | null;

      /**
[...]
