// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Whop from "../../../../../index.js";

export declare namespace TimeSeriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TimeSeriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TimeSeriesClient.Options>;

    constructor(options: TimeSeriesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the metrics you can chart over time, with the unit each reports and the properties you can filter or break it down by. Aggregates that are not bucketed over time are reports, listed at `GET /stats/reports`.
     *
     * @param {TimeSeriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Whop.UnauthorizedError}
     * @throws {@link errors.WhopError}
     * @throws {@link errors.WhopTimeoutError}
     *
     * @example
     *     await client.stats.timeSeries.list()
     */
    public list(
        requestOptions?: TimeSeriesClient.RequestOptions,
    ): core.HttpResponsePromise<Whop.stats.ListTimeSeriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: TimeSeriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Whop.stats.ListTimeSeriesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Api-Version-Date": requestOptions?.apiVersionDate ?? this._options?.apiVersionDate ?? "2026-10-06-1",
                "Idempotency-Key": requestOptions?.idempotencyKey ?? this._options?.idempotencyKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.WhopEnvironment.Production)
                        .api,
                "stats/time_series",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Whop.stats.ListTimeSeriesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Whop.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhopError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/stats/time_series");
    }

    /**
     * Retrieves a metric as a time series of points for an account or user over a time range. For an aggregate that is not bucketed over time, use a report from `GET /stats/reports`. The `market_prices` metric is public and requires no authentication. The `funnel` metric measures 2 to 10 ordered events per person. Its first matching event inside from/to anchors the cohort, breakdown and conversion window; later entries do not restart it. Intervening events are allowed, and conversions may occur after to. Funnel values are final conversion percentages; steps include counts and cumulative conversion percentages. Experiment funnels use experiment.exposure as step 1 and breakdown_by=variant. Pass steps using bracket parameters such as steps[1][event]=pixel.page&steps[1][page]=/pricing*&steps[2][event]=payment.completed.
     *
     * @param {Whop.stats.RetrieveTimeSeriesRequest} request
     * @param {TimeSeriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Whop.BadRequestError}
     * @throws {@link Whop.UnauthorizedError}
     * @throws {@link Whop.ForbiddenError}
     * @throws {@link Whop.NotFoundError}
     * @throws {@link errors.WhopError}
     * @throws {@link errors.WhopTimeoutError}
     *
     * @example
     *     await client.stats.timeSeries.retrieve({
     *         metric: "metric",
     *         from: "from",
     *         to: "to",
     *         ad_campaign_ids: ["adcamp_xxxxxxxxxxxxxx"],
     *         ad_group_ids: ["adgrp_xxxxxxxxxxxxxx"],
     *         ad_ids: ["ad_xxxxxxxxxxxxxx"]
     *     })
     */
    public retrieve(
        request: Whop.stats.RetrieveTimeSeriesRequest,
        requestOptions?: TimeSeriesClient.RequestOptions,
    ): core.HttpResponsePromise<Whop.stats.RetrieveTimeSeriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: Whop.stats.RetrieveTimeSeriesRequest,
        requestOptions?: TimeSeriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Whop.stats.RetrieveTimeSeriesResponse>> {
        const {
            metric,
            account_id: accountId,
            user_id: userId,
            from: from_,
            to,
            interval,
            breakdown_by: breakdownBy,
            convert_to: convertTo,
            currency,
            time_zone: timeZone,
            payment_method: paymentMethod,
            card_network: cardNetwork,
            dispute_reason: disputeReason,
            source,
            hostname,
            page,
            device_type: deviceType,
            country_code: countryCode,
            event_name: eventName,
            event_type: eventType,
            custom_name: customName,
            segment,
            category,
            merchant,
            fee_type: feeType,
            product,
            status,
            access_level: accessLevel,
            most_recent_action: mostRecentAction,
            referred_user_id: referredUserId,
            ad_campaign_ids: adCampaignIds,
            ad_group_ids: adGroupIds,
            ad_ids: adIds,
            snapshot_window: snapshotWindow,
            event,
            conversion_window: conversionWindow,
            mature_only: matureOnly,
            steps,
            compare_to: compareTo,
            confidence_level: confidenceLevel,
            contactable,
            has_purchased: hasPurchased,
            first_seen_after: firstSeenAfter,
            first_seen_before: firstSeenBefore,
            last_seen_after: lastSeenAfter,
            last_seen_before: lastSeenBefore,
            first_seen_within_days: firstSeenWithinDays,
            last_seen_within_days: lastSeenWithinDays,
            known,
            has_email: hasEmail,
            has_phone: hasPhone,
            ltv_gt: ltvGt,
            ltv_gte: ltvGte,
            ltv_lt: ltvLt,
            ltv_lte: ltvLte,
            aov_gt: aovGt,
            aov_gte: aovGte,
            aov_lt: aovLt,
            aov_lte: aovLte,
            purchase_count_gt: purchaseCountGt,
            purchase_count_gte: purchaseCountGte,
            purchase_count_lt: purchaseCountLt,
            purchase_count_lte: purchaseCountLte,
            event_count_gt: eventCountGt,
            event_count_gte: eventCountGte,
            event_count_lt: eventCountLt,
            event_count_lte: eventCountLte,
        } = request;
        const _queryParams: Record<string, unknown> = {
            account_id: accountId,
            user_id: userId,
            from: from_,
            to,
            interval: interval != null ? interval : undefined,
            breakdown_by: breakdownBy,
            convert_to: convertTo,
            currency,
            time_zone: timeZone,
            payment_method: paymentMethod,
            card_network: cardNetwork,
            dispute_reason: disputeReason,
            source,
            hostname,
            page,
            device_type: deviceType,
            country_code: countryCode,
            event_name: eventName,
            event_type: eventType != null ? eventType : undefined,
            custom_name: customName,
            segment,
            category,
            merchant,
            fee_type: feeType,
            product,
            status,
            access_level: accessLevel,
            most_recent_action: mostRecentAction,
            referred_user_id: referredUserId,
            ad_campaign_ids: adCampaignIds,
            ad_group_ids: adGroupIds,
            ad_ids: adIds,
            snapshot_window: snapshotWindow != null ? snapshotWindow : undefined,
            event,
            conversion_window: conversionWindow,
            mature_only: matureOnly,
            steps,
            compare_to: compareTo,
            confidence_level: confidenceLevel,
            contactable,
            has_purchased: hasPurchased,
            first_seen_after: firstSeenAfter != null ? firstSeenAfter : undefined,
            first_seen_before: firstSeenBefore != null ? firstSeenBefore : undefined,
            last_seen_after: lastSeenAfter != null ? lastSeenAfter : undefined,
            last_seen_before: lastSeenBefore != null ? lastSeenBefore : undefined,
            first_seen_within_days: firstSeenWithinDays,
            last_seen_within_days: lastSeenWithinDays,
            known,
            has_email: hasEmail,
            has_phone: hasPhone,
            ltv_gt: ltvGt,
            ltv_gte: ltvGte,
            ltv_lt: ltvLt,
            ltv_lte: ltvLte,
            aov_gt: aovGt,
            aov_gte: aovGte,
            aov_lt: aovLt,
            aov_lte: aovLte,
            purchase_count_gt: purchaseCountGt,
            purchase_count_gte: purchaseCountGte,
            purchase_count_lt: purchaseCountLt,
            purchase_count_lte: purchaseCountLte,
            event_count_gt: eventCountGt,
            event_count_gte: eventCountGte,
            event_count_lt: eventCountLt,
            event_count_lte: eventCountLte,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Api-Version-Date": requestOptions?.apiVersionDate ?? this._options?.apiVersionDate ?? "2026-10-06-1",
                "Idempotency-Key": requestOptions?.idempotencyKey ?? this._options?.idempotencyKey,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.WhopEnvironment.Production)
                        .api,
                `stats/time_series/${core.url.encodePathParam(metric)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Whop.stats.RetrieveTimeSeriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Whop.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Whop.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Whop.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Whop.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhopError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/stats/time_series/{metric}");
    }
}
