// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as Whop from "../../../../../../../index.js";

export declare namespace EarningsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EarningsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EarningsClient.Options>;

    constructor(options: EarningsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the earnings Whop pays out for one referred business's activity, most recent first.
     *
     * @param {Whop.partners.businesses.ListEarningsRequest} request
     * @param {EarningsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Whop.BadRequestError}
     * @throws {@link errors.WhopError}
     * @throws {@link errors.WhopTimeoutError}
     *
     * @example
     *     await client.partners.businesses.earnings.list({
     *         id: "id"
     *     })
     */
    public async list(
        request: Whop.partners.businesses.ListEarningsRequest,
        requestOptions?: EarningsClient.RequestOptions,
    ): Promise<
        core.Page<
            Whop.partners.businesses.ListEarningsResponse.Data.Item,
            Whop.partners.businesses.ListEarningsResponse
        >
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Whop.partners.businesses.ListEarningsRequest,
            ): Promise<core.WithRawResponse<Whop.partners.businesses.ListEarningsResponse>> => {
                const {
                    id,
                    status,
                    income_source: incomeSource,
                    first,
                    after,
                    last,
                    before,
                    order,
                    direction,
                    created_before: createdBefore,
                    created_after: createdAfter,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    status: status != null ? status : undefined,
                    income_source: Array.isArray(incomeSource)
                        ? incomeSource.map((item) => item)
                        : incomeSource != null
                          ? incomeSource
                          : undefined,
                    first,
                    after,
                    last,
                    before,
                    order: order != null ? order : undefined,
                    direction: direction != null ? direction : undefined,
                    created_before: createdBefore,
                    created_after: createdAfter,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "Api-Version-Date":
                            requestOptions?.apiVersionDate ?? this._options?.apiVersionDate ?? "2026-09-02-2",
                        "Idempotency-Key": requestOptions?.idempotencyKey ?? this._options?.idempotencyKey,
                    }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.WhopEnvironment.Default,
                        `partners/businesses/${core.url.encodePathParam(id)}/earnings`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Whop.partners.businesses.ListEarningsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Whop.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        default:
                            throw new errors.WhopError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/partners/businesses/{id}/earnings",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            Whop.partners.businesses.ListEarningsResponse.Data.Item,
            Whop.partners.businesses.ListEarningsResponse
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.page_info.end_cursor != null &&
                !(typeof response?.page_info.end_cursor === "string" && response?.page_info.end_cursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "after", response?.page_info.end_cursor));
            },
        });
    }
}
