// This file was auto-generated by Fern from our API Definition.

/**
 * @example
 *     {
 *         content: "Drop off at 4180 Burnet Rd. Plan on two days for the full coating.",
 *         title: "Your ceramic coating is booked"
 *     }
 */
export interface CreateNotificationsRequest {
    /** Account whose team members receive the notification (`biz_` tag). Exactly one of `experience_id` or `account_id` is required. */
    account_id?: string;
    /** Main body text of the notification. */
    content: string;
    /** Experience whose users receive the notification (`exp_` tag). Exactly one of `experience_id` or `account_id` is required. */
    experience_id?: string;
    /** User whose profile picture is used as the notification icon. Defaults to the experience or account avatar. */
    icon_user_id?: string | null;
    /** Path segment appended to the generated deep link that opens your app, for example `/settings/billing`. */
    rest_path?: string | null;
    /** Optional secondary line displayed below the title. */
    subtitle?: string | null;
    /** Headline text of the notification. */
    title: string;
    /** Optional `user_` tags narrowing the audience. When provided, only these users are notified (as a mention), provided they are in the targeted experience or account. */
    user_ids?: string[];
}
